@import '~bootstrap/scss/bootstrap-utilities';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/_forms';
@import '~bootstrap/scss/_buttons';

* {
  font-family: 'Montserrat', sans-serif;
}

.nb-theme-default {
  nb-layout {
    .layout {
      background-color: #fff;
    }
  }
  p {
    font-family: 'Montserrat', sans-serif;
  }
  
  a {
    color: inherit;
    text-decoration: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    &.active {
      color: red;
    }
    &:hover {
      color: unset;
    }
  }
}
.bg-white {
  background-color: #fff;
}

.ant-btn {
  .anticon {
    vertical-align: 0;
  }
}

i[nztype='delete'] {
  color: #e74c3c;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}