<!-- <div class="course">
  <div class="row">
    <div class="col">
      <h1 class="title">Danh sách gói trắc nhiệm</h1>
    </div>
  </div>
  <div class="sub-nav d-flex justify-content-between mb-3">
    <div class="search d-flex justify-content-between">
      <div class="search__input">
        <div class="row">
          <ngx-form-anchor #formInputs></ngx-form-anchor>
        </div>
      </div>
      <div class="search__btn">
        <button
          nz-button
          nzType="primary"
          nzSize="large"
          class="btn-success"
          (click)="search()"
        >
          <i nz-icon nzType="search" nzTheme="outline"></i>
          Tìm
        </button>
      </div>
    </div>
    <div class="d-flex justify-content-end mb-3">
      <button
        nz-button
        nzType="primary"
        nzSize="large"
        [routerLink]="['/', 'admin', 'exam-pack-manager', 'create']"
        class="btn-add"
      >
        <i nz-icon nzType="plus"></i>
        Thêm gói trắc nghiệm
      </button>
    </div>
  </div>
  <div class="course">
    <nz-table #basicTable [nzData]="examPacks" nzFrontPagination="false">
      <thead>
        <tr>
          <th class="fw-bold">Tên gói trắc nghiệm</th>
          <th class="fw-bold text-center d-none d-xl-table-cell">Số đề thi</th>
          <th class="fw-bold text-center">Học phí</th>
          <th class="fw-bold text-center d-none d-xl-table-cell">Trạng thái</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let examPack of examPacks" class="course__item">
          <td>
            <p class="course__item__name">{{ examPack.name }}</p>
          </td>
          <td class="text-center d-none d-xl-table-cell">
            {{ examPack.getExamCount() }}
          </td>
          <td class="text-center">
            <p>
              <del>{{ examPack.getOriginalPriceText() }}</del>
            </p>
            <p>{{ examPack.getPriceText() }}</p>
          </td>
          <td class="d-none d-xl-table-cell">
            <ng-container *ngIf="examPack.status; else disabledCourse">
              <nz-alert nzType="success" nzMessage="Mở bán"></nz-alert>
            </ng-container>
            <ng-template #disabledCourse>
              <nz-alert nzType="error" nzMessage="Ngừng bán"></nz-alert>
            </ng-template>
          </td>
          <td>
            <div class="text-center">
              <button nz-button nzType="link">
                <a [routerLink]="[examPack.id, 'edit']"
                  ><i nz-icon nzType="form" style="color: #1452d7"></i
                ></a>
              </button>
              <button nz-button nzType="link" (click)="remove(examPack)">
                <i nz-icon nzType="delete" style="color: #cf002a"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <ng-container *ngIf="pagination">
      <div class="d-flex justify-content-end">
        <nz-pagination
          [nzPageIndex]="pagination.currentPage"
          [nzPageSize]="pagination.itemsPerPage"
          [nzTotal]="pagination.totalItems"
          (nzPageIndexChange)="gotoPage($event)"
        ></nz-pagination>
      </div>
    </ng-container>
  </div>
</div> -->
