/*========================COLOR==============================*/
$green: #00b825;
$white: #fff;
$black: #000000;
$yellow: #fec800;
$color-result: #79829c;
$blue-button: #0077ff;
$backgroundColor2: #efefef;
$backgroundSelect: #eff2f7;
$backgroundFooterColor: #fbfbfb;
$color-orange: #ff8500;
$color-button: #0c4ca3;
$color-title: #000826;
$color-hover: #598bff;
$color-border: #d8d8d8;
$color-span: #0c213a;
$lightColor: #b8b8b8;
$color-correct: #0077ff;
$color-warning: #ff8500;
$color-question: #efefef;
$colorMenuActive: #f50032;
$color-pagination: #c1c7d0;
$color-pagination-item: #242424;
$color-success: #00b825;
$backgroundColorSuccess: #9af0cc;
$backgroundColorFail: #f1b2be;
$primaryLightColor: #707070;
$backgroundColorSuggest: #fbffd8;
$backgroundColor: #fff;
$backgroundFooterColor: #fbfbfb;
$backgroundMenuActive: #cf002a;
$backgroundCourseChapter: #efefef;
$primary-color: #ff9100;
$backgroundBtnView: #bfebff;

/*========================SIZE==============================*/
$largeTitleSize: 36px;
$mediumTitleSize: 24px;
$responTitleSize: 20px;
$fontSizeTitleTablet: 28px;
$font-large: 18px;
$font-medium: 16px;
$font-small: 14px;
$font-smallest: 12px;
$mobile-p-Size: 10px;

/*========================FONT==============================*/
$font-bold: SegoeUI-Bold;
$font-italic: SegoeUI-Italic;
$font-light: SegoeUI-Light;
$font-mediumSegoe: SegoeUI-Medium;
$font-regular: SegoeUI-Regular;
$font-semiBold: SegoeUI-SemiBold;
$font-semibold-italic: SegoeUI-SemiboldItalic;

@font-face {
  font-family: SegoeUI-Bold;
  src: url('/assets/fonts/Segoe\ UI\ Bold.ttf');
  font-display: swap;
}
@font-face {
  font-family: SegoeUI-Italic;
  src: url('/assets/fonts/SegoeUI-Italic.ttf');
  font-display: swap;
}
@font-face {
  font-family: SegoeUI-Light;
  src: url('/assets/fonts/SegoeUI-Light.ttf');
  font-display: swap;
}
@font-face {
  font-family: SegoeUI-Medium;
  src: url('/assets/fonts/SegoeUI-Medium.ttf');
  font-display: swap;
}
@font-face {
  font-family: SegoeUI-Regular;
  src: url('/assets/fonts/SEGOEUI.TTF');
  font-display: swap;
}
@font-face {
  font-family: SegoeUI-SemiBold;
  src: url('/assets/fonts/seguisb.ttf');
  font-display: swap;
}
@font-face {
  font-family: SegoeUI-SemiboldItalic;
  src: url('/assets/fonts/Segoe\ ui\ semibold\ italic.ttf');
  font-display: swap;
}
