@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.nav-sub {
  @include media-breakpoint-down(xl) {
    flex-direction: column-reverse;
  }

  .nav-sub-btn {
    @include media-breakpoint-down(xl) {
      width: 48%;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
  }
}

.search {
  width: 60%;
  justify-content: space-between;
  display: flex;
  @include media-breakpoint-down(xl) {
    flex-direction: column;
    width: 100%;
  }
  &__btn {
    padding-left: 15px;
    @include media-breakpoint-down(xl) {
      padding-left: 0;
      width: 48%;
    }
    @include media-breakpoint-down(sm) {
      width: 100%;
    }
    button {
      width: 100%;
    }
  }
  &__input {
    width: 100%;
  }
}

.btn-watch {
  button {
    display: flex;
    align-items: center;
    margin: 0 auto;
    ::ng-deep span {
      padding-top: 3px;
      margin-left: 4px;
    }
  }
}

::ng-deep {
  .lesson {
    .ant-modal-footer {
      button {
        display: flex;
        margin: 0 auto;
        align-items: center;
      }
    }
  }
}
