<nz-breadcrumb class="mb-3">
  <nz-breadcrumb-item>
    <a [routerLink]="['/', 'admin', 'course']">
      <img src="/assets/images/previous.svg" /> Danh sách khóa học</a
    >
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>Chỉnh sửa khóa học</nz-breadcrumb-item>
</nz-breadcrumb>
<nz-tabset nzLinkRouter>
  <nz-tab>
    <a
      *nzTabLink
      nz-tab-link
      [routerLink]="['/', 'admin', 'course', courseId, 'edit']"
    >
      Thông tin chung
    </a>
  </nz-tab>
  <nz-tab>
    <a
      *nzTabLink
      nz-tab-link
      [routerLink]="['/', 'admin', 'course', courseId, 'edit', 'lesson']"
    >
      Bài giảng
    </a>
  </nz-tab>
  <nz-tab>
    <a
      *nzTabLink
      nz-tab-link
      [routerLink]="['/', 'admin', 'course', courseId, 'edit', 'highlight']"
    >
      Trắc nghiệm nổi bật
    </a>
  </nz-tab>
  <nz-tab>
    <a
      *nzTabLink
      nz-tab-link
      [routerLink]="['/', 'admin', 'course', courseId, 'edit', 'related']"
    >
      Khóa học liên quan
    </a>
  </nz-tab>
  <nz-tab>
    <a
      *nzTabLink
      nz-tab-link
      [routerLink]="['/', 'admin', 'course', courseId, 'edit', 'review']"
    >
      Đánh giá
    </a>
  </nz-tab>
</nz-tabset>

<router-outlet></router-outlet>
