<nz-breadcrumb class="mb-3">
  <nz-breadcrumb-item>
    <a [routerLink]="['/', 'admin', 'exam-pack-manager']"
      ><img src="/assets/images/previous.svg" /> Danh sách gói trắc nhiệm</a
    >
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>Chỉnh sửa gói trắc nhiệm</nz-breadcrumb-item>
</nz-breadcrumb>
<nz-tabset nzLinkRouter>
  <nz-tab>
    <a
      *nzTabLink
      nz-tab-link
      [routerLink]="['/', 'admin', 'exam-pack-manager', exampPackId, 'edit']"
    >
      Thông tin chung
    </a>
  </nz-tab>
  <nz-tab>
    <a
      *nzTabLink
      nz-tab-link
      [routerLink]="[
        '/',
        'admin',
        'exam-pack-manager',
        exampPackId,
        'edit',
        'exam'
      ]"
    >
      Đề trắc nghiệm
    </a>
  </nz-tab>
  <nz-tab>
    <a
      *nzTabLink
      nz-tab-link
      [routerLink]="[
        '/',
        'admin',
        'exam-pack-manager',
        exampPackId,
        'edit',
        'highlight'
      ]"
    >
      Bài học nổi bật
    </a>
  </nz-tab>
  <nz-tab>
    <a
      *nzTabLink
      nz-tab-link
      [routerLink]="[
        '/',
        'admin',
        'exam-pack-manager',
        exampPackId,
        'edit',
        'related'
      ]"
    >
      Trắc nhiệm liên quan
    </a>
  </nz-tab>
  <nz-tab>
    <a
      *nzTabLink
      nz-tab-link
      [routerLink]="[
        '/',
        'admin',
        'exam-pack-manager',
        exampPackId,
        'edit',
        'review'
      ]"
    >
      Đánh giá
    </a>
  </nz-tab>
</nz-tabset>

<router-outlet></router-outlet>
