.related {
    &__item {
      border: 1px solid #ddd;
      button {
        float: right;
      }
      p {
        overflow: hidden;
      }
    }
  }
  .add-btn {
    float: right;
    margin-top: 1.4rem;
  }
  .form-input {
    overflow: hidden;
    padding-right: 15px;
  }
  