<nz-collapse [nzBordered]="false">
  <nz-collapse-panel
    #p
    *ngFor="let item of faqs; let i = index; let isFirst = first"
    nzHeader=" Q{{ i + 1 }}. {{ item.question }}"
    [nzExpandedIcon]="expandedIconTpl"
    [nzActive]="isFirst"
  >
    <ng-template #expandedIconTpl let-active>
      <i
        nz-icon
        [nzType]="!p.nzActive ? 'plus' : 'minus'"
        nzTheme="outline"
      ></i>
    </ng-template>

    <div class="m-0" [innerHTML]="item.answer"></div>
  </nz-collapse-panel>
</nz-collapse>
