<!-- <div class="edit-examPack">
  <div class="row">
    <div class="col">
      <form
        [formGroup]="form"
        (ngSubmit)="onSubmit()"
        nz-form
        nzLayout="vertical"
      >
        <div class="row">
          <div class="col-6 col-xs-12">
            <ngx-form-anchor #formInputsFistGroup></ngx-form-anchor>
          </div>
          <div class="col-6 col-xs-12">
            <ngx-form-anchor #formUploadInput></ngx-form-anchor>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <ngx-form-anchor #formInputsSecondGroup></ngx-form-anchor>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-12">
            <h6>Học phí</h6>
            <div class="bg-white p-2">
              <div class="row">
                <ngx-form-anchor #formPriceInputs></ngx-form-anchor>
              </div>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col-12">
            <h6>Trạng thái</h6>
            <div class="bg-white p-4">
              <div class="row">
                <ngx-form-anchor #formStatusInputs></ngx-form-anchor>
              </div>
            </div>
          </div>
        </div>

        <div class="form-actions">
          <button nzSize="large" nz-button nzType="primary" class="me-2">
            Tiếp tục
          </button>
          <button
            nzSize="large"
            type="button"
            nz-button
            routerLink="/admin/exam-pack-manager"
          >
            Huỷ
          </button>
        </div>
      </form>
    </div>
  </div>
</div> -->
