@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.option {
  &__edit,
  &__label {
    @include media-breakpoint-down(sm) {
      max-width: 50px;
    }
  }
  &__email {
    @include media-breakpoint-down(sm) {
      max-width: 100px;
    }
    p {
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}

