<div class="admin component">
  <div class="row">
    <div class="col">
      <h1 class="title">Admin</h1>
    </div>
  </div>
  <div class="row">
    <div class="col mb-4">
      <nz-table *ngIf="admin" [nzData]="[1]" nzFrontPagination="false">
        <thead>
          <tr>
            <th class="fw-bold">Tên</th>
            <th class="fw-bold">Số điện thoại</th>
            <th class="fw-bold">Email</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ admin.username }}</td>
            <td>{{ admin.phoneNumber }}</td>
            <td>{{ admin.email }}</td>
            <td class="text-center">
              <i
                nz-icon
                nzType="ellipsis"
                nzTheme="outline"
                nz-dropdown
                [nzDropdownMenu]="menu"
                nzTrigger="click"
                class="dropdown"
              ></i>
              <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                  <li nz-menu-item (click)="openModalEditAdmin(admin)">
                    Chỉnh sửa ảnh
                  </li>
                  <li nz-menu-item [routerLink]="['change-password']">
                    Đổi mật khẩu
                  </li>
                </ul>
              </nz-dropdown-menu>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
