<div class="edit-lesson">
  <nz-breadcrumb class="mb-3">
    <nz-breadcrumb-item>
      <a [routerLink]="['/', 'admin', 'lesson']">
        <img src="/assets/images/previous.svg" /> Danh sách bài giảng</a
      >
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Chỉnh sửa bài giảng</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="row">
    <div class="col">
      <h1>Chỉnh sửa bài giảng</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <form
        [formGroup]="editLessonForm"
        (ngSubmit)="onSubmit()"
        nz-form
        nzLayout="vertical"
      >
        <div class="row">
          <div class="col-12">
            <ngx-form-anchor #formInputs></ngx-form-anchor>
          </div>
        </div>
        <div class="form-actions">
          <button nz-button nzSize="large" nzType="primary" class="me-2">
            Tiếp tục
          </button>
          <a routerLink="/admin/lesson">
            <button type="button" nzSize="large" nz-button>Huỷ</button>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
