<header>
  <nav class="navbar">
    <div class="navbar-container">
      <div class="navbar-header">
        <div class="navbar-brand tet">
          <a class="logo" href="/">
            <img src="/assets/images/logo.png" class="w-100" />
          </a>
        </div>
        <div class="navbar-header-user">
          <div class="user-login user-avatar" id="user-avatar">
            <span nz-icon nzType="user" nzTheme="outline"></span>
          </div>
          <div class="user-theme hidden-320" id="user-theme">
            <span nz-icon nzType="bulb" nzTheme="outline"></span>
          </div>
          <div class="user-tos" id="user-tos">
            <a href="/">
              <span nz-icon nzType="info-circle" nzTheme="fill"></span>
            </a>
          </div>
        </div>
      </div>
      <div class="navbar-left" id="navbar-left">
        <div class="navbar-search">
          <div class="search-box">
            <input
              class="shadow-none ring-0 focus:shadow-none active:shadow-none focus:ring-0 active:ring-0"
              type="text"
              name="search-box"
              placeholder="Tìm kiếm anime"
              autocomplete="off"
            />
            <span nz-icon nzType="search" nzTheme="outline"></span>
          </div>
          <div class="search-result" id="search-result" [class.activated]="false">
            <div
              class="result-body ps-container ps-theme-default"
              data-ps-id="8bdd9dde-c572-508c-4135-9dabf84f28fa"
            >
              <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px">
                <div
                  class="ps-scrollbar-x"
                  tabindex="0"
                  style="left: 0px; width: 0px"
                ></div>
              </div>
              <div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px">
                <div
                  class="ps-scrollbar-y"
                  tabindex="0"
                  style="top: 0px; height: 0px"
                ></div>
              </div>
            </div>
            <div class="result-noitem text-center">Nhập tên anime để tìm kiếm</div>
            <div class="loading d-none"></div>
          </div>
        </div>
        <div class="navbar-menu"></div>
      </div>
      <div class="navbar-right" id="navbar-right"></div>
    </div>
  </nav>
</header>
