<div class="sub-nav d-flex justify-content-end mb-3">
  <div class="action">
    <button nz-button nzType="primary" nzSize="large" class="mb-3" (click)="openCreateQuestionModal()">
      <i nz-icon nzType="plus"></i>
      Thêm câu hỏi
    </button>
  </div>
</div>

<div class="row">
  <div class="col question" *ngIf="readingContent">
    <nz-table #basicTable [nzFrontPagination]="false" [nzData]="readingContent.questions" [nzShowPagination]="false">
      <thead>
        <tr>
          <th class="fw-bold">ID</th>
          <th class="fw-bold">Tên câu hỏi</th>
          <th class="fw-bold d-none d-xl-table-cell">Danh mục</th>
          <th class="fw-bold">Đáp án</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of basicTable.data" class="question__item" [ngClass]="{
            deleted: item.deletedAt !== null && item.deletedAt !== undefined
          }">
          <td>{{ item.id }}</td>
          <td>
            <div [innerHTML]="item.question"></div>
          </td>
          <td class="d-none d-xl-table-cell">{{ item.category?.name }}</td>
          <td class="answer">
            <div *ngFor="let answer of item.answers; let aIndex = index" [ngClass]="{ correct: answer.isCorrect }">
              <ng-container [ngSwitch]="aIndex">
                <p *ngSwitchCase="0">A.</p>
                <p *ngSwitchCase="1">B.</p>
                <p *ngSwitchCase="2">C.</p>
                <p *ngSwitchCase="3">D.</p>
              </ng-container>
              <div [innerHTML]="answer.answer"></div>
            </div>
          </td>
          <td>
            <div class="text-center">
              <ng-container *ngIf="
                  !(item.deletedAt !== null && item.deletedAt !== undefined)
                ">
                <button nz-button nzType="link" (click)="openEditReadingContentQuestionModal(item)">
                  <i nz-icon nzType="form" style="color: #1452d7"></i>
                </button>
                <button nz-button nzType="link" (click)="deleteItem(item)">
                  <i nz-icon nzType="delete" style="color: #cf002a"></i>
                </button>
              </ng-container>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>