# See http://help.github.com/ignore-files/ for more about ignoring files.

libs/shared/server/common/src/environments/environment.ts
libs/shared/server/common/src/environments/environment.dev.ts
libs/shared/server/common/src/environments/environment.staging.ts
libs/shared/server/common/src/environments/environment.prod.ts
libs/shared/frontend/common/src/environments/environment.ts
ormlogs.log

# compiled output
/dist
/tmp
/out-tsc

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

.angular
