<nz-breadcrumb class="mb-3">
  <nz-breadcrumb-item>
    <a [routerLink]="['/', 'admin', 'exam-manager', 'question']"
      ><img src="/assets/images/previous.svg" /> Danh sách câu hỏi</a
    >
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>import câu hỏi</nz-breadcrumb-item>
</nz-breadcrumb>
<div class="row">
  <div class="col">
    <h1>Import câu hỏi</h1>
  </div>
</div>

<div class="import">
  <form [formGroup]="form" nz-form nzLayout="vertical" (ngSubmit)="onSubmit()">
    <div class="row">
      <ngx-form-anchor #formInputs></ngx-form-anchor>
    </div>
    <div class="row">
      <div class="col">
        <button
          type="submit"
          nz-button
          nzType="primary"
          nzSize="large"
          class="add-btn me-2"
        >
          Import
        </button>
        <button
          type="submit"
          nz-button
          nzSize="large"
          class="add-btn me-2"
          routerLink="/admin/exam-manager/question"
        >
          Hủy
        </button>
      </div>
    </div>
  </form>
</div>
