<div class="exam-pack">
  <div class="exam-pack__img">
    <img [src]="item.image" class="w-100" />
  </div>
  <div class="exam-pack__detail">
    <div class="exam-pack__detail--title">{{ item.name }}</div>
    <div
      class="exam-pack-info d-flex justify-content-between align-items-center"
    >
      <div class="exam-pack-info__rate">
        <div class="exam-pack-info__rate--icon">
          <nz-rate [(ngModel)]="item.rateAverage" nzDisabled></nz-rate>
          <span>({{ item.rateCount }} đánh giá)</span>
        </div>
        <div class="exam-pack-info__rate--desc">
          <p class="m-0">{{ item.getExamCount() }} <span>đề thi</span></p>
        </div>
      </div>
      <div class="exam-pack-info__price">
        <div class="exam-pack-info__price--original">
          {{ item.getOriginalPriceText() }}
        </div>
        <div class="exam-pack-info__price--promotional">
          {{ item.getPriceText() }}
        </div>
      </div>
    </div>
  </div>
</div>
