<!-- <div class="mt-4">
  <div class="related">
    <div class="d-flex flex-column">
      <div class="related__item p-2 mb-1" *ngFor="let item of relatedExamPacks">
        <button nz-button nzType="dashed" (click)="removeRelated(item)">
          <i nz-icon nzType="delete" nzTheme="outline"></i>
        </button>
        <p class="mb-0">{{ item.name }}</p>
      </div>
    </div>
  </div>
  <form [formGroup]="form" nz-form nzLayout="vertical">
    <div class="row mb-4">
      <div class="col-12">
        <button
          type="button"
          nz-button
          nzType="primary"
          nzSize="large"
          class="add-btn me-2"
          (click)="addRelated()"
        >
          <i nz-icon nzType="plus"></i>

          Thêm
        </button>
        <div class="form-input">
          <ngx-form-anchor #formInputs></ngx-form-anchor>
        </div>
      </div>
    </div>
  </form>
</div> -->
