@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';
.container {
  margin-top: 90px;
}
.logo {
  margin: 30px auto;
  @include media-breakpoint-up(sm) {
    width: 410px;
  }
  img {
    width: 100%;
    @include media-breakpoint-down(sm) {
      width: 80%;
    }
  }
}
