<div class="course">
  <nz-breadcrumb class="mb-3">
    <nz-breadcrumb-item>
      <a [routerLink]="['/', 'admin', 'user']">
        <img src="/assets/images/previous.svg" /> Danh sách học viên</a
      >
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Danh sách khóa học của học viên</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="row">
    <div class="col">
      <h1 class="title">Danh sách khoá học của học viện</h1>
    </div>
  </div>
  <div class="d-flex justify-content-between mb-3 flex-column flex-sm-row">
    <div class="mb-3">
      <app-user-card *ngIf="user" [user]="user"></app-user-card>
    </div>
    <button
      nz-button
      nzType="primary"
      nzSize="large"
      (click)="openAddCourseModal()"
    >
      <i nz-icon nzType="plus"></i>
      Thêm khoá học
    </button>
  </div>
  <div class="course">
    <nz-table #basicTable [nzData]="courses" nzFrontPagination="false">
      <thead>
        <tr>
          <th class="text-center">
            {{ 'course.courseNameLabel' | translate }}
          </th>
          <th class="text-center">
            {{ 'course.viewCourseLabel' | translate }}
          </th>
          <th class="text-center">{{ 'course.priceLabel' | translate }}</th>
          <th class="text-center">{{ 'course.statusLabel' | translate }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let course of courses"
          [ngClass]="{ deleted: course.deletedAt !== null }"
          class="course__item"
        >
          <td>
            <p class="course__item__name">{{ course.name }}</p>
            <p>Giảng viên: {{ course.lecturer }}</p>
          </td>
          <td class="text-center">
            <button
              nz-button
              nzType="dashed"
              nzSize="small"
              [routerLink]="['/', 'khoa-hoc', course.id, 'play']"
            >
              <i nz-icon nzType="play-square" nzTheme="outline"></i>
              {{ 'course.viewCourseCtaText' | translate }}
            </button>
          </td>
          <td class="text-center">
            <p>
              <del>{{ course.getOriginalPriceText() }}</del>
            </p>
            <p>{{ course.getPriceText() }}</p>
          </td>
          <td>
            <ng-container *ngIf="course.status; else disabledCourse">
              <nz-alert nzType="success" nzMessage="Mở bán"></nz-alert>
            </ng-container>
            <ng-template #disabledCourse>
              <nz-alert nzType="error" nzMessage="Ngừng bán"></nz-alert>
            </ng-template>
          </td>
          <td>
            <div class="text-center">
              <button
                nz-button
                nzType="link"
                (click)="deleteUserCourse(course)"
              >
                <i nz-icon nzType="delete" style="color: #cf002a"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <ng-container *ngIf="pagination">
      <nz-pagination
        [nzPageIndex]="pagination.currentPage"
        [nzPageSize]="pagination.itemsPerPage"
        [nzTotal]="pagination.totalItems"
        (nzPageIndexChange)="gotoPage($event)"
      ></nz-pagination>
    </ng-container>
  </div>
</div>
