@import 'apps/frontend/src/styles/_mixin.scss';

.course {
  @include e('item') {
    &.deleted {
      p {
        text-decoration: line-through;
      }
    }
  }
}

.search {
  min-width: 60%;
  &__btn {
    padding-left: 15px;
    float: right;
  }
  &__input {
    overflow: hidden;
  }
}
