<form [formGroup]="form" nz-form nzLayout="vertical">
  <div class="search">
    <div class="search__btn">
      <button nz-button nzType="primary" nzSize="large" (click)="search()">
        <i nz-icon nzType="search" nzTheme="outline"></i>Tìm
      </button>
    </div>
    <div class="search__input">
      <div class="row">
        <ngx-form-anchor #formInputs></ngx-form-anchor>
      </div>
    </div>
  </div>
</form>
<nz-table #basicTable [nzData]="courses" nzFrontPagination="false">
  <thead>
    <tr>
      <th>
        {{ 'course.courseNameLabel' | translate }}
      </th>
      <th class="text-center">
        {{ 'course.viewCourseLabel' | translate }}
      </th>
      <th class="text-center">{{ 'course.priceLabel' | translate }}</th>
      <th class="text-center">{{ 'course.statusLabel' | translate }}</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr
      *ngFor="let course of courses"
      [ngClass]="{ deleted: course.deletedAt !== null }"
      class="course__item"
    >
      <td>
        <p class="course__item__name">{{ course.name }}</p>
        <p>{{ 'course.lectuere' | translate }}: {{ course.lecturer }}</p>
      </td>
      <td class="text-center">
        <button
          nz-button
          nzType="dashed"
          nzSize="small"
          [routerLink]="['/', 'khoa-hoc', course.id, 'play']"
        >
          <i nz-icon nzType="play-square" nzTheme="outline"></i>
          {{ 'course.viewCourseCtaText' | translate }}
        </button>
      </td>
      <td class="text-center">
        <p>
          <del>{{ course.getOriginalPriceText() }}</del>
        </p>
        <p>{{ course.getPriceText() }}</p>
      </td>
      <td>
        <ng-container *ngIf="course.status; else disabledCourse">
          <nz-alert nzType="success" nzMessage="Mở bán"></nz-alert>
        </ng-container>
        <ng-template #disabledCourse>
          <nz-alert nzType="error" nzMessage="Ngừng bán"></nz-alert>
        </ng-template>
      </td>
      <td>
        <div class="text-center">
          <button nz-button nzType="primary" (click)="select(course)">
            <i nz-icon nzType="plus"></i> Thêm
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</nz-table>
<ng-container *ngIf="pagination">
  <nz-pagination
    [nzPageIndex]="pagination.currentPage"
    [nzPageSize]="pagination.itemsPerPage"
    [nzTotal]="pagination.totalItems"
    (nzPageIndexChange)="gotoPage($event)"
  ></nz-pagination>
</ng-container>
