@import 'apps/frontend/src/styles/_variables.scss';

button {
  width: 100%;
  font-size: $font-medium;
  font-family: $font-bold;
  background-color: $primary-color;
  color: $white;
  border-radius: 6px;
  padding: 0 20px;
  height: 44px;
  min-width: 170px;
  border: none;
  &:hover {
    background-color: $white;
    color: $primary-color;
    border: 1px solid $primary-color;
  }
}
