<div class="create-lesson">
  <nz-breadcrumb class="mb-3">
    <nz-breadcrumb-item>
      <a [routerLink]="['/', 'admin', 'lesson']"
        ><img src="/assets/images/previous.svg" /> Danh sách bài giảng</a
      >
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Thêm bài giảng</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="row">
    <div class="col">
      <h1>Thêm bài giảng</h1>
    </div>
  </div>
  <div class="row">
    <form
      [formGroup]="createLessonForm"
      nz-form
      nzLayout="vertical"
      (ngSubmit)="onSubmit()"
    >
      <ngx-form-anchor #formInputs></ngx-form-anchor>
      <div class="form-actions">
        <button nz-button nzType="primary" nzSize="large" class="me-2">
          Lưu
        </button>
        <a routerLink="/admin/lesson">
          <button type="button" nzSize="large" nz-button>Huỷ</button>
        </a>
      </div>
    </form>
  </div>
</div>
