<div class="component">
  <div class="row">
    <nz-breadcrumb class="mb-3">
      <nz-breadcrumb-item>
        <a [routerLink]="['/', 'admin', 'contact']">
          <img src="/assets/images/previous.svg" /> Danh sách liên hệ</a
        >
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>Chỉnh sửa liên hệ</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="col">
      <h1>Chỉnh sửa liên hệ</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form
        [formGroup]="editContactForm"
        (ngSubmit)="onSubmit()"
        nz-form
        nzLayout="vertical"
      >
        <div class="row">
          <ngx-form-anchor #formInputs></ngx-form-anchor>
        </div>

        <div class="form-actions">
          <button nz-button nzSize="large" nzType="primary" class="me-2">
            Chỉnh sửa
          </button>
          <button
            type="button"
            nzSize="large"
            routerLink="/admin/contact"
            nz-button
          >
            Huỷ
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
