@import 'apps/frontend/src/styles/_variables.scss';
@import 'apps/frontend/src/styles/_mixin.scss';
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.footer {
  background: #fff7f0;
  box-shadow: 0px -3px 6px #00000029;
  .more-information {
    background: linear-gradient(rgb(0 0 0 / 92%), rgb(5 0 0 / 92%)),
      url(/assets/images/young-students-learning-together-during-group-study@2x.png);
    background-size: cover;
    opacity: 0.92;
    padding: 0 38px 50px;
    @include media-breakpoint-down(sm) {
      padding: 0 12px 30px;
    }
    .heading {
      font-size: $largeTitleSize;
      font-family: $font-semiBold;
      color: $white;
      padding-top: 50px;
      margin-bottom: 35px;
      line-height: 1.25;
      @include media-breakpoint-down(lg) {
        font-size: $mediumTitleSize;
      }
    }
    .information {
      margin: 0 auto;
      @include e('item') {
        button {
          width: 100%;
          border: 1px solid $white;
          padding: 12px 40px;
          border-radius: 6px;
          background-color: transparent;
          color: $white;
          font-family: $font-semiBold;
          font-size: $font-medium;
          @include media-breakpoint-down(xl) {
            font-size: $font-small;
            padding: 12px;
          }
          &:hover {
            transition-duration: 0.1s;
            opacity: 0.7;
          }
        }
      }
    }
  }
  .content {
    margin-top: 40px;
    padding: 0 38px;
    @include media-breakpoint-down(sm) {
      padding: 0 12px;
    }
    @include e('desc') {
      margin-top: 10px;
      font-size: $font-small;
      font-family: $font-regular;
      line-height: 1.5;
      text-align: justify;
      @include media-breakpoint-down(xl) {
        font-size: $font-smallest;
      }
    }
    @include e('title') {
      font-size: $font-medium;
      font-family: $font-bold;
      @include media-breakpoint-down(lg) {
        font-size: $font-small;
      }
    }
    @include e('contact') {
      @include media-breakpoint-between(lg, xl) {
        padding-left: 30px;
      }
      .contact-list {
        list-style: none;
        &--item {
          padding: 5px;
          display: flex;
          align-items: center;
          p {
            @include media-breakpoint-down(xl) {
              font-size: $font-smallest;
            }
            font-size: $font-small;
            font-family: $font-semiBold;
            margin: 0 0 0 8px;
            span {
              @include media-breakpoint-between(md, lg) {
                display: none;
              }
            }
          }
          img {
            height: 14px;
            width: 14px;
          }
        }
      }
    }

    @include e('connect') {
      list-style: none;
      @include m('item') {
        padding: 5px;
        display: flex;
        align-items: center;
        a {
          @include media-breakpoint-down(xl) {
            font-size: $font-smallest;
          }
          font-size: $font-small;
          font-family: $font-semiBold;
          margin-left: 8px;
          span {
            @include media-breakpoint-between(md, lg) {
              display: none;
            }
          }
        }
      }
      img {
        height: 14px;
        width: 14px;
      }
    }

    @include e('app') {
      @include m('item') {
        margin-bottom: 12px;
        img {
          width: 100%;
        }
      }
    }
  }
  .copyright-main {
    @include media-breakpoint-down(sm) {
      margin: 0 12px;
      flex-direction: column;
      text-align: center;
    }
    border-top: 1px solid $lightColor;
    p {
      margin-top: 10px;
      font-size: $font-small;
      font-family: $font-regular;
    }
  }
}
