<footer>
  <div class="footer">
    <div class="container flex">
      <div class="content flex flex-column">
        <div class="logo">
          <img src="/assets/images/logo.png" class="w-100" />
        </div>
        <p class="text-center content-text">
          "Unleash your inner otaku with just one click - Your ultimate
          destination for the best anime experience!"
        </p>
        <div class="content__icon flex mb-3">
          <a class="content__icon-item" href="/">
            <span nz-icon nzType="facebook" nzTheme="fill"></span>
          </a>
          <a class="content__icon-item" href="/">
            <span nz-icon nzType="youtube" nzTheme="fill"></span>
          </a>
          <a class="content__icon-item" href="/">
            <span nz-icon nzType="instagram" nzTheme="fill"></span>
          </a>
          <a class="content__icon-item" href="/">
            <span nz-icon nzType="linkedin" nzTheme="fill"></span>
          </a>
        </div>
      </div>
    </div>
    <div class="copyright flex">
      <div class="container">
        <div class="copyright-main flex text-center justify-content-center">
          <p class="mt-2 mb-2">Copyright ©2023 Website. Designed By Kaine</p>
        </div>
      </div>
    </div>
  </div>
</footer>