@import 'apps/frontend/src/styles/_variables.scss';
@import 'apps/frontend/src/styles/_mixin.scss';
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.footer {
  box-shadow: 1px -1px 10px #00000026;
  background-color: lightgray;
  .content {
    width: 550px;
    .logo {
      width: 200px;
    }

    &-text {
      font-size: 18px;
      font-style: italic;
    }
    &__icon {
      &-item {
        padding: 0 8px;
        text-decoration: none;
        span {
          font-size: 20px;
        }

        &:hover {
          opacity: 0.6;
          cursor: pointer;
        }
      }
    }
  }

  .copyright {
    height: 50px;
    &-main {
      p {
        font-size: 14px;
        font-style: italic;
      }
    }
  }
}
