@import 'apps/frontend/src/styles/_variables.scss';
@import 'apps/frontend/src/styles/_mixin.scss';
@import 'node_modules/bootstrap/scss/_functions.scss';
@import 'node_modules/bootstrap/scss/_variables.scss';
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss';

.main {
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  padding: 30px;
  margin: 0 auto;
  margin-top: 30px;
  @include media-breakpoint-up(md) {
    width: 410px;
  }

  ::ng-deep nz-input-group {
    background-color: $backgroundFooterColor;
    border-radius: 20px !important;
    border: none;
    input {
      border: 1px solid $color-border;
      border-radius: 20px !important;
      background-color: $backgroundFooterColor;
    }
  }

  ::ng-deep nz-form-label {
    label {
      font-size: $font-medium;
      font-family: $font-italic;
      color: $color-result;
    }
  }

  .heading {
    color: $color-title;
    font-size: 24px;
    font-family: $font-bold;
    @include media-breakpoint-down(md) {
      font-size: 20px;
    }
  }
  .forgot-form {
    &__login {
      p {
        font-size: $font-small;
        font-family: $font-italic;
        color: $color-result;
        a {
          color: $color-correct;
        }
      }
    }

    .btn {
      @include m('info') {
        margin-bottom: 20px;
        width: 100%;
        padding: 10px;
        border-radius: 22px;
        color: $white;
        font-family: $font-semiBold;
        font-size: $font-medium;
        background-color: $color-button;
        border: none;
        &:hover {
          transition-duration: 0.1s;
          background-color: $white;
          color: $color-button;
          border: 1px solid $color-button;
          cursor: pointer;
        }
      }
    }
  }
}
