<div class="container">
  <div class="main">
    <div class="logo">
      <img src="/assets/images/logo.png" alt="" class="w-100" />
    </div>
    <div class="row">
      <h1 class="text-center heading text-uppercase">Quên mật khẩu</h1>
    </div>
    <div class="row">
      <div class="col">
        <div class="forgot-form">
          <form
            [formGroup]="forgotPassForm"
            (ngSubmit)="onSubmit()"
            nz-form
            nzLayout="vertical"
          >
            <div nz-row nzGutter="16">
              <ngx-form-anchor #forgot></ngx-form-anchor>
            </div>

            <div class="form-group d-flex justify-content-center">
              <button
                type="submit"
                nz-button
                nzType="primary"
                class="btn btn--info d-flex justify-content-center align-items-center text-uppercase"
              >
                Gửi
              </button>
            </div>
            <div class="forgot-form__login d-flex justify-content-center">
              <p class="m-0 text-center">
                Bạn đã có tài khoản?
                <a routerLink="/auth/login">Đăng nhập </a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
