@import 'apps/frontend/src/styles/_variables.scss';
@import 'apps/frontend/src/styles/_mixin.scss';
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.dashboard {
  .dashboard-list {
    .dashboard-item {
      padding: 10px;
      border-radius: 7px;
      background-color: $white;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      &__image {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
        img {
          margin-top: 8px;
        }

        &.user {
          background-color: #0077ff;
        }

        &.userOnline {
          background-color: #ff8500;
        }

        &.course {
          background-color: #00b825;
        }

        &.question {
          background-color: #9200c5;
        }

        &.total {
          background-color: #e5b700;
        }
      }

      &__info {
        p {
          margin: 0;
          font-size: $font-smallest;
          color: $color-result;
          font-family: $font-regular;
        }
        span {
          font-size: $font-large;
          font-family: $font-bold;
          color: $color-span;
        }
      }
    }
  }

  .content {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border-radius: 4px;
    padding: 20px;
    .chart-information {
      @include media-breakpoint-down(sm) {
        flex-direction: column;
      }
      &__time {
        width: 65%;
        @include media-breakpoint-down(sm) {
          flex-direction: column;
          width: 100%;
        }
        p {
          font-family: $font-semiBold;
          font-size: $font-medium;
          color: $color-span;
        }
        div {
          width: 70%;
        }
        ::ng-deep {
          .ant-select {
            width: 60%;
            margin-left: 10px;
            @include media-breakpoint-down(sm) {
              width: 100%;
              margin: 10px 0 10px 0;
            }
          }
          .ant-select-selector {
            background-color: $backgroundSelect;
          }

          .ant-select-selection-item {
            font-family: $font-regular;
            font-size: $font-medium;
            color: $color-result;
          }
        }
      }

      &__user {
        p {
          font-size: $font-medium;
          font-family: $font-regular;
          color: $color-result;
          span {
            font-family: $font-regular;
            font-size: $font-large;
            color: $color-span;
          }
        }
      }
    }
    
    .analytic {
      &__title {
        font-family: $font-semiBold;
        font-size: $font-medium;
        color: $color-span;
      }

      &__user,
      &__email,
      &__phone,
      &__register {
        font-family: $font-semiBold;
        font-size: $font-small;
        color: $color-span;
      }
      &__value {
        &--name {
          font-family: $font-regular;
          font-size: $font-small;
          color: $color-span;
        }

        &--email,
        &--phone,
        &--register {
          font-family: $font-regular;
          font-size: $font-small;
          color: $color-result;
        }

        &--phone {
          max-width: 60px;
        }
      }
    }
  }
}
