<footer>
  <div class="footer">
    <div class="more-information">
      <div class="container">
        <p class="heading d-flex justify-content-center">Bạn muốn tìm hiểu thêm về:</p>
        <div class="information pt-0">
          <div class="row">
            <div class="col-sm-6 col-md-4 information__item pb-3">
              <a href="https://congchuc247.vn/thay-tai-tan-tien/">
                <button class="text-center">
                  <span>Thầy Tài Tân Tiến</span>
                </button>
              </a>
            </div>
            <div class="col-sm-6 col-md-4 information__item pb-3">
              <a href="https://congchuc247.vn/hoc-vien-da-thi-do-cong-chuc-vien-chuc/">
                <button class="text-center">
                  <span>Các học viên đã thành công</span>
                </button>
              </a>
            </div>
            <div class="col-sm-6 col-md-4 information__item pb-3">
              <a href="https://congchuc247.vn/category/tin-tuc-tuyen-dung/">
                <button class="text-center">
                  <span>Tin tức tuyển dụng</span>
                </button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="container">
        <div class="row">
          <div class="col-md-3">
            <div class="content__logo">
              <img [src]="getOptionValueByKey('site-logo')" class="w-100" />
            </div>
            <p class="content__desc">
              {{ getOptionValueByKey('site-description') }}
            </p>
          </div>
          <div class="col-md-3">
            <div class="content__contact">
              <p class="content__title">Liên hệ với chúng tôi</p>
              <ul class="contact-list ps-0">
                <li class="contact-list--item">
                  <img src="/assets/images/icon-call.svg" alt="" />
                  <a href="tel: {{ getOptionValueByKey('hotline') }}">
                    <p>{{ getOptionValueByKey('hotline') }} <span>(Tư vấn 24/7)</span></p>
                  </a>
                </li>
                <li class="contact-list--item">
                  <img src="/assets/images/icon-mail.svg" alt="" />
                  <a href="mailto: {{ getOptionValueByKey('email') }}">
                    <p>{{ getOptionValueByKey('email') }}</p>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-3">
            <p class="content__title">Các liên kết</p>
            <ul class="content__connect ps-0">
              <li class="content__connect--item">
                <img src="/assets/images/icon-face.svg" alt="" />
                <a href="{{ getOptionValueByKey('fb-group-url') }}">Cộng đồng ôn thi <span>chính thức</span></a>
              </li>
              <li class="content__connect--item">
                <img src="/assets/images/icon-face.svg" alt="" />
                <a href="{{ getOptionValueByKey('fb-fanpage-url') }}">Fanpages <span>chính thức</span></a>
              </li>
              <li class="content__connect--item">
                <img src="/assets/images/icon-youtube.svg" alt="" />
                <a href="{{ getOptionValueByKey('youtube-channel-url') }}">Kênh Youtube <span>chính thức</span></a>
              </li>
              <li class="content__connect--item">
                <img src="/assets/images/icon-tictok.svg" alt="" />
                <a href="{{ getOptionValueByKey('tiktok-url') }}">Kênh Tiktok <span>chính thức</span></a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 mb-2">
            <p class="content__title">Ứng dụng hữu ích</p>
            <div class="row content__app">
              <div class="col-6 content__app--item">
                <a href="{{ getOptionValueByKey('chplay-url') }}">
                  <img src="/assets/images/GetItOnGooglePlay-badge@2x.png" alt="" />
                </a>
              </div>
              <div class="col-6 content__app--item">
                <a href="{{ getOptionValueByKey('appstore-url') }}">
                  <img src="/assets/images/apple-store-logo-4@2x.png" alt="" />
                </a>
              </div>
              <div class="col-6 content__app--item">
                <img src="/assets/images/thongbaobocongthuong.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright">
      <div class="container">
        <div class="copyright-main d-flex justify-content-between text-center">
          <p class="mb-0">{{ getOptionValueByKey('copyright') }}
            <a href="https://congchuc247.vn/">
              congchuc247.vn
            </a>
          </p>
          <p>Design by Vicoders.com</p>
        </div>
      </div>
    </div>
  </div>
</footer>