<div class="component">
  <div class="row">
    <nz-breadcrumb class="mb-3">
      <nz-breadcrumb-item>
        <a [routerLink]="['/', 'admin', 'category']">
          <img src="/assets/images/previous.svg" /> Danh sách danh mục</a
        >
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>Chỉnh sửa danh mục</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="col">
      <h1>Chỉnh sửa danh mục</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form
        [formGroup]="editCategoryForm"
        (ngSubmit)="onSubmit()"
        nz-form
        nzLayout="vertical"
      >
        <ngx-form-anchor #formInputs></ngx-form-anchor>

        <div class="form-actions">
          <button nz-button nzType="primary" nzSize="large" class="me-2">
            Chỉnh sửa
          </button>
          <a routerLink="/admin/category">
            <button type="button" nzSize="large" nz-button>Huỷ</button>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
