<!-- <div class="course" *ngIf="course">
  <div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 page-header__content">
          <h1 class="page-header__content__title mb-4">
            {{ course.name }}
          </h1>
          <div class="page-header__content__subtitle">
            <div class="page-header__content__subtitle__content me-4 mb-2">
              <p class="small-content">Bài giảng:</p>
              <p class="small-content whiteFont ms-2">
                {{ lessonCount }} bài học chuyên sâu
              </p>
            </div>
            <div class="page-header__content__subtitle__content me-4 mb-2">
              <p class="small-content">Giảng viên:</p>
              <p class="small-content whiteFont ms-2">{{ course.lecturer }}</p>
            </div>
            <div class="page-header__content__subtitle__content me-4 mb-2">
              <p class="small-content">Đánh giá:</p>
              <p class="small-content">
                <nz-rate [ngModel]="course.rateAverage" class="small-content__rate" nzDisabled></nz-rate>
                <i class="small-content__comment ms-2">({{ course.rateCount }} Đánh giá)</i>
              </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4 page-header__button">
          <div class="page-header__button__cost d-flex align-items-center mb-3" *ngIf="!course.isFreeCourse">
            <h3 class="page-header__button__cost__o-price mb-0">
              {{ course.getOriginalPriceText() }}
            </h3>
            <h3 class="page-header__button__cost__price mb-0">
              {{ course.getPriceText() }}
            </h3>
            <span class="text-center">-18%</span>
          </div>
          <h3 *ngIf="course.isFreeCourse">Miễn Phí</h3>
          <span class="mb-4"></span>
          <ng-container *ngIf="!(profile && isBoughtCourse); else enterCourseBtn">
            <button nz-button nzType="primary" nzDanger *ngIf="course.isFreeCourse" (click)="buyFreeCourse()">
              THÊM VÀO DANH SÁCH KHOÁ HỌC
            </button>
            <app-contact-form *ngIf="!course.isFreeCourse" btnText="Mua Khóa học" [type]="2" [content]="course.name">
            </app-contact-form>
          </ng-container>
          <ng-template #enterCourseBtn>
            <button nz-button nzType="primary" nzDanger [routerLink]="['/', 'khoa-hoc', courseId, 'play']">
              VÀO HỌC
            </button>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
  <div class="content pt-5">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 col-sm-8 mb-5">
          <nz-anchor [nzAffix]="false" [nzOffsetTop]="100">
            <div class="content__header-navigation row">
              <div class="col-12 col-md-3">
                <nz-link nzHref="#exams" nzTitle="NỘI DUNG BÀI GIẢNG" nz-button nzType="default"
                  class="w-100 text-center"></nz-link>
              </div>
              <div class="col-12 col-md-3">
                <nz-link nzHref="#description" nzTitle="PHƯƠNG PHÁP ÔN TẬP" nz-button class="w-100 text-center"
                  nzType="default">
                </nz-link>
              </div>
              <div class="col-12 col-md-3">
                <nz-link nzHref="#introduce" nzTitle="HỌC THỬ KHOÁ HỌC" nz-button class="w-100 text-center"
                  nzType="default">
                </nz-link>
              </div>
              <div class="col-12 col-md-3">
                <nz-link nzHref="#voting" nzTitle="HỌC VIÊN ĐÁNH GIÁ" nz-button class="w-100 text-center"
                  nzType="default">
                </nz-link>
              </div>
            </div>
          </nz-anchor>

          <div class="content__exams mt-4" id="exams">
            <h3>DANH SÁCH BÀI GIẢNG</h3>
            <nz-collapse [nzGhost]="true" [nzBordered]="true" *ngFor="let chapter of course.courseChapters">
              <nz-collapse-panel [nzHeader]="chapter.name" class="exam">
                <div class="exam__part d-flex justify-content-between" *ngFor="let lesson of chapter.lessons">
                  <a class="m-3">
                    {{ lesson.name }}
                  </a>
                  <ng-container *ngIf="!(profile && isBoughtCourse); else viewCourse">
                    <i nz-icon nzType="lock" nzTheme="outline"></i>
                  </ng-container>
                  <ng-template #viewCourse>
                    <div class="p-3">
                      <button nz-button nzType="dashed" [routerLink]="[
                          '/',
                          'khoa-hoc',
                          courseId,
                          'play',
                          lesson.id
                        ]">
                        Xem
                      </button>
                    </div>
                  </ng-template>
                </div>
              </nz-collapse-panel>
            </nz-collapse>
          </div>
          <div class="content__description mb-5" id="description" *ngIf="course">
            <div class="mb-4" [innerHTML]="course.description"></div>
          </div>

          <div class="content__introduce" id="introduce">
            <h3>HỌC THỬ NỘI DUNG KHOÁ HỌC</h3>
            <youtube-player [videoId]="course.video"></youtube-player>
          </div>
          <div class="content__voting" id="voting">
            <h3 class="text-uppercase">
              ĐÁNH GIÁ CỦA HỌC VIÊN THAM GIA LỚP ÔN THI CÔNG CHỨC THUẾ CỦA
              {{ this.course.lecturer }}!
            </h3>
            <div class="user mb-4 p-4" *ngFor="let review of reviews">
              <div class="user__img">
                <nz-avatar [nzSize]="40" [nzSrc]="review.image" nzIcon="user"></nz-avatar>
              </div>
              <div class="user__comment ms-2">
                <nz-rate nzCount="5" [ngModel]="review.rateCount" nzDisabled="true"></nz-rate>
                <h5>{{ review.user }}</h5>
                <p [innerHTML]="review.review"></p>
              </div>
            </div>
            <div class="d-flex justify-content-center align-items-center">
              <button class="btn-review" (click)="loadMoreReview()">Xem thêm</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="related-course">
    <div class="container">
      <h3 class="text-center related-course__title">
        DANH SÁCH KHOÁ HỌC LIÊN QUAN
      </h3>
      <div class="d-flex justify-content-center">
        <p class="text-center related-course__desc pb-4">
          Hệ thống cung cấp các khóa ôn thi Công chức, Viên chức. Với bề dày
          kinh nghiệm và thành tích đã đạt được. Chúng tôi sẽ mang đến khóa học
          chất lượng hàng đầu Việt Nam.
        </p>
      </div>
    </div>
  </div>
</div> -->
