@import 'apps/frontend/src/styles/_variables.scss';
@import 'apps/frontend/src/styles/_mixin.scss';
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.search-component {
  .page-header {
    background-color: $white;
    background: linear-gradient(rgba(20, 27, 55, 0.92), rgba(4, 13, 46, 0.92)),
      url(/assets/images/page-course-header-background.png);
    background-size: cover;
    margin-top: 90px;
    padding-bottom: 30px;
    height: 164px;
    &__breadcrumb {
      font-size: 12px;
      font-family: $font-semibold-italic;
      padding-top: 20px;
      margin-bottom: 60px;
      @include media-breakpoint-down(sm) {
        margin-bottom: 40px;
      }

      a {
        color: $lightColor;
      }

      ::ng-deep .ant-breadcrumb-separator {
        color: $lightColor;
      }
    }

    .heading {
      color: $white;
      font-family: $font-semiBold;
      font-size: 36px;
    }
  }
  .content {
    margin-bottom: 60px;
    .search {
      &__input {
        width: 450px;
        ::ng-deep {
          .ant-input {
            border-top-left-radius: 6px;
            border-bottom-left-radius: 6px;
            border: 1px solid $lightColor;
          }

          ::placeholder {
            color: $primaryLightColor;
            font-size: $font-medium;
            font-family: $font-semiBold;
          }
        }
      }
      &__btn {
        button {
          background-color: $primary-color;
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
          color: $white;
          font-family: $font-semiBold;
          font-size: $font-medium;
          border: none;
        }
      }
    }

    ::ng-deep {
      .ant-tabs-tab {
        a {
          color: $primaryLightColor;
          font-size: $font-medium;
          font-family: $font-bold;
        }
      }

      .ant-tabs-tab-active {
        a {
          color: $primary-color;
        }
      }
    }

    .nav-tab {
      .tab {
        width: 94%;
        @include media-breakpoint-down(xxl) {
          width: 92%;
        }
        @include media-breakpoint-down(lg) {
          width: 88%;
        }
        @include media-breakpoint-down(md) {
          width: 100%;
        }
      }

      .tab-select {
        @include media-breakpoint-down(xxl) {
          width: 8%;
        }
        @include media-breakpoint-down(lg) {
          width: 12%;
        }
        @include media-breakpoint-down(md) {
          display: none;
        }
        width: 6%;
        padding-bottom: 8px;
        border-bottom: 1px solid #f0f0f0;
        ::ng-deep {
          .ant-select {
            width: 100%;
            border-radius: 4px;
          }
          .ant-select-selection-item {
            font-size: $font-smallest;
            font-family: $font-regular;
            color: $color-pagination-item;
          }
        }
      }
    }

    .course {
      ::ng-deep nz-pagination {
        text-align: center;
        .ant-pagination-next .ant-pagination-item-link,
        .ant-pagination-prev .ant-pagination-item-link {
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .ant-pagination-item {
          border-radius: 5px;
          border-color: $primary-color;
          a {
            line-height: 32px;
          }
        }

        .ant-pagination-item-active {
          a {
            color: $primary-color;
          }
        }
      }
    }
  }
}
