<div class="container course pt-4" *ngIf="course && course.courseChapters">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-4">
      <div class="player-header">
        <h3>DANH SÁCH BÀI GIẢNG</h3>
      </div>
      <nz-collapse
        [nzGhost]="true"
        [nzBordered]="true"
        *ngFor="let chapter of course.courseChapters"
      >
        <nz-collapse-panel
          [nzHeader]="chapter.name"
          [nzActive]="isActiveChapter(chapter)"
          class="course__chapter"
        >
          <div
            class="course__chapter__lesson d-flex justify-content-between"
            *ngFor="let lesson of chapter.lessons"
          >
            <div class="m-3 course__chapter__lesson__name flex-grow-1">
              <div class="d-flex justify-content-between">
                <div class="pe-1">
                  <a
                    class="d-flex mb-0"
                    [routerLink]="[
                      '/',
                      'khoa-hoc',
                      courseId,
                      'play',
                      lesson.id
                    ]"
                    routerLinkActive="active"
                  >
                    {{ lesson.name }}
                  </a>
                </div>
                <div class="completed-status">
                  <label
                    nz-checkbox
                    nzDisabled
                    [ngModel]="completedLessons | completedLesson: lesson"
                  ></label>
                </div>
              </div>
            </div>
            <ng-container *ngIf="!(profile && isBoughtCourse)">
              <i nz-icon nzType="lock" nzTheme="outline"></i>
            </ng-container>
          </div>
        </nz-collapse-panel>
      </nz-collapse>
    </div>
    <div class="col-12 col-sm-6 col-md-8">
      <div class="player-header">
        <div class="d-flex justify-content-between">
          <div class="back-btn">
            <a
              nz-button
              nzType="text"
              [routerLink]="['/', 'khoa-hoc', courseId]"
            >
              <i nz-icon nzType="undo" nzTheme="outline"></i
              ><span>Quay lại trang khóa học</span>
            </a>
          </div>
          <div class="control-btn">
            <button nz-button nzType="default" class="me-2" (click)="prev()">
              <div class="d-flex align-items-center">
                <i nz-icon nzType="left"></i>
                <span>Bài trước</span>
              </div>
            </button>
            <button nz-button nzType="default" (click)="next()">
              <div class="d-flex align-items-center">
                <span>Bài sau</span>
                <i nz-icon nzType="right"></i>
              </div>
            </button>
          </div>
        </div>
      </div>
      <div style="position: relative; padding-top: 56.25%">
        <app-lesson [lesson]="activatedLesson"></app-lesson>
      </div>
      <div class="lesson-name p-2 d-flex justify-content-between">
        <h6 class="m-0">{{ activatedLesson.name }}</h6>
        <ng-container
          *ngIf="
            completedLessons | completedLesson: activatedLesson;
            else completeLessonBtn
          "
        >
          <button nz-button disabled>
            <span nz-icon nzType="check"></span>Đã hoàn thành
          </button>
        </ng-container>
        <ng-template #completeLessonBtn>
          <button nz-button (click)="complete(activatedLesson)">
            <span nz-icon nzType="check"></span>Hoàn thành bài học
          </button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
