@import 'apps/frontend/src/styles/_variables.scss';
@import 'apps/frontend/src/styles/_mixin.scss';
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1350px,
);

::ng-deep {
  .ant-collapse-header {
    color: $color-title !important;
    font-size: 16px;
    font-family: $font-bold;
  }
  .ant-rate {
    font-size: $font-small !important;
  }
  .ant-rate-star {
    color: $yellow !important;
    margin-right: 2px !important;
  }
}

.course {
  margin-bottom: 80px;
  .player-header {
    height: 60px;
    background-image: linear-gradient(to left, #ff8500, #ff3d00);
    padding: 10px 15px 15px 15px;
    margin-bottom: 20px;
    h3 {
      color: $white;
      font-family: $font-bold;
      margin: 0;
      padding: 0;
      font-size: 22px;
    }
    .back-btn {
      margin-top: 8px;
      a {
        display: flex;
        align-items: center;
        ::ng-deep span {
          color: #fff;
          font-family: $font-regular;
          font-size: $font-small;
          @include media-breakpoint-down(md) {
            display: none;
          }
        }

        i {
          font-size: $font-small;
          color: #fff;
          transform: rotate(120deg);
        }
      }
    }
    .control-btn {
      margin-top: 8px;
      display: flex;
      align-items: center;
      @include media-breakpoint-down(md) {
        span {
          display: none;
        }
      }
      button {
        background: transparent;
        color: #fff;
        border-radius: 6px;
        font-size: 14px;
        font-family: $font-semiBold;
      }
    }
  }
  .lesson-name {
    background-color: #eee;
  }
  ::ng-deep .ant-collapse-arrow {
    display: block !important;
    margin-top: 7px;
  }
  ::ng-deep .ant-collapse-content-box {
    padding: 0 !important;
  }

  ::ng-deep .ant-collapse-header {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__chapter {
    background-color: $backgroundFooterColor;
    border: 1px solid $backgroundCourseChapter;
    border-radius: 10px;
    margin-bottom: 20px;

    &__lesson {
      font-size: $font-small;
      font-family: $font-regular;
      color: $color-title;
      border-top: 1px solid $backgroundCourseChapter;
      &__name {
        a {
          &.active {
            color: #ff3d00;
          }
        }
      }
      a {
        display: block;
        font-size: $font-small;
        color: $color-title;
        font-family: $font-regular;
      }
    }
  }
}
