@import 'apps/frontend/src/styles/_variables.scss';
@import 'apps/frontend/src/styles/_mixin.scss';
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.course {
  transition: transform 0.2s ease-in;
  &:hover {
    transform: scale(1.01);
    cursor: pointer;
  }
  @include e('detail') {
    background-color: $white;
    padding: 10px;
    border: 1px solid $backgroundFooterColor;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    @include m('title') {
      font-size: $font-large;
      color: $color-title;
      font-family: $font-bold;
      margin-bottom: 4px;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      @include media-breakpoint-down(xl) {
        font-size: $font-small;
        line-height: 1.25;
      }
    }
  }

  @include e('img') {
    img {
      border-radius: 10px 10px 0 0;
    }
  }

  .course-info {
    @include e('rate') {
      @include m('icon') {
        margin-bottom: 4px;
        ::ng-deep {
          .ant-rate-star {
            color: #fadb14;
          }

          .anticon svg {
            @include media-breakpoint-down(xl) {
              font-size: 10px;
            }
          }
        }
        span {
          padding-left: 5px;
          font-size: 10px;
          color: $primaryLightColor;
          @include media-breakpoint-down(xl) {
            display: none;
          }
        }
      }

      @include m('desc') {
        p {
          @include media-breakpoint-down(xl) {
            font-size: 12px;
          }
          font-family: $font-semibold-italic;
          color: $primaryLightColor;
          font-size: $font-small;
          margin: 0;
          span {
            font-family: $font-italic;
          }
        }
      }
    }
    @include e('price') {
      font-size: $font-small;
      @include media-breakpoint-down(xxl) {
        font-size: $font-smallest;
      }
      @include m('original') {
        margin-bottom: 4px;
        color: $color-title;
        text-decoration: line-through;
        font-family: $font-regular;
        @include media-breakpoint-down(xl) {
          margin: 0;
        }
      }

      @include m('promotional') {
        color: $color-button;
        font-family: $font-bold;
      }
    }
  }
}
