<div class="search-component">
  <div class="page-header">
    <div class="container">
      <nz-breadcrumb nzSeparator=">>" activeClass="" class="page-header__breadcrumb">
        <nz-breadcrumb-item>
          <a href="">TRANG CHỦ</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a>KẾT QUẢ TÌM KIẾM</a>
        </nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="row">
        <h1 class="heading">Kết quả tìm kiếm</h1>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="container">
      <div class="search d-flex justify-content-center mt-4">
        <div class="search__input">
          <div class="row">
            <ngx-form-anchor #formInputs></ngx-form-anchor>
          </div>
        </div>
        <div class="search__btn">
          <button nz-button nzType="primary" nzSize="large" (click)="search()">
            Xem kết quả
          </button>
        </div>
      </div>
      <div class="nav-tab d-flex align-items-center justify-content-between">
        <div class="tab">
          <nz-tabset nzLinkRouter>
            <nz-tab>
              <a *nzTabLink nz-tab-link [routerLink]="['/', 'search', 'khoa-on-cong-chuc']">
                Khóa ôn công chức
              </a>
            </nz-tab>
            <nz-tab>
              <a *nzTabLink nz-tab-link [routerLink]="['/', 'search', 'khoa-on-vien-chuc']">
                Khóa ôn viên chức
              </a>
            </nz-tab>
            <nz-tab>
              <a *nzTabLink nz-tab-link [routerLink]="['/', 'search', 'phong-thi-trac-nghiem-online']">
                Phòng thi trắc nghiệm
              </a>
            </nz-tab>
          </nz-tabset>
        </div>

        <div class="tab-select">
          <nz-select nzAllowClear [nzAutoClearSearchValue]="false" nzPlaceHolder="Lọc" nzSize="small"
            ngModel (ngModelChange)="change($event)">
            <nz-option nzLabel="Trả phí" nzValue="0"></nz-option>
            <nz-option nzLabel="Miễn phí" nzValue="1"></nz-option>
          </nz-select>
        </div>
      </div>

      <div class="course">
        <ng-container *ngIf="
            (this.currentPostType$ | async)?.postType === 3;
            else listCourse
          ">
          <div class="row">
            <div class="col-sm-12 col-md-6 col-xl-3 col-lg-4 pb-4" *ngFor="let item of examPacks">
              <a [routerLink]="['/', 'de-thi', item.id]">
                <app-exam-pack-item [item]="item"></app-exam-pack-item>
              </a>
            </div>
          </div>
        </ng-container>
        <ng-template #listCourse>
          <div class="row">
            <div class="col-sm-12 col-md-6 col-xl-3 col-lg-4 pb-4" *ngFor="let item of courses">
              <a [routerLink]="['/', 'khoa-hoc', item.id]">
                <app-course-item [item]="item"></app-course-item>
              </a>
            </div>
          </div>
        </ng-template>
        <div *ngIf="pagination" class="course__pagination d-flex justify-content-end">
          <nz-pagination [nzPageIndex]="pagination.currentPage" [nzPageSize]="pagination.itemsPerPage"
            [nzPageIndex]="currentPage" [nzTotal]="pagination.totalItems" (nzPageIndexChange)="gotoPage($event)">
          </nz-pagination>
        </div>
      </div>
    </div>
  </div>
</div>
