<div class="dashboard">
  <div class="row mb-4">
    <div class="col">
      <h4>Dashboard</h4>
    </div>
  </div>
  <div class="row mb-5" *ngIf="report">
    <div class="col-sm-6 col-md-4 col-xl dashboard-list mb-3">
      <div class="dashboard-item d-flex align-items-center">
        <div class="dashboard-item__image user me-2">
          <img src="/assets/images/icon_hocvien.svg" alt="" />
        </div>
        <div class="dashboard-item__info">
          <p>Học viên</p>
          <span>{{ report.userCount }}</span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-xl dashboard-list mb-3">
      <div class="dashboard-item d-flex align-items-center">
        <div class="dashboard-item__image course me-2">
          <img src="/assets/images/icon_khoahoc.svg" alt="" />
        </div>
        <div class="dashboard-item__info">
          <p>Khóa học</p>
          <span>{{ report.courseCount }}</span>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4 col-xl dashboard-list mb-3">
      <div class="dashboard-item d-flex align-items-center">
        <div class="dashboard-item__image question me-2">
          <img src="/assets/images/icon_trogiup.svg" alt="" />
        </div>
        <div class="dashboard-item__info">
          <p>Câu hỏi</p>
          <span>{{ report.questionCount }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div
      class="chart-information d-flex justify-content-between align-items-center mb-4"
    >
      <div class="chart-information__time d-flex align-items-center">
        <p class="m-0">Thời gian thống kê:</p>
        <nz-select
          nzShowSearch
          nzAllowClear
          [nzAutoClearSearchValue]="false"
          nzPlaceHolder="Tuần này"
          ngModel
        >
          <nz-option nzLabel="Tuần này" nzValue="week"></nz-option>
          <nz-option nzLabel="Tháng này" nzValue="month"></nz-option>
          <nz-option nzLabel="Năm này" nzValue="year"></nz-option>
        </nz-select>
      </div>
      <div class="chart-information__user">
        <p class="m-0">
          Tổng số học viên mới: <span class="ms-2"><b>50</b> học viên</span>
        </p>
      </div>
    </div>

    <div class="chart-progress mb-5">
      <div style="display: block">
        <canvas
          baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [type]="barChartType"
        ></canvas>
      </div>
    </div>
  </div>
</div>
