<nz-card
  [nzActions]="[
    actionEdit,
    listIp,
    UserActivity
  ]"
>
  <nz-card-meta
    [nzDescription]="user.email"
    [nzAvatar]="avatarTemplate"
  ></nz-card-meta>
</nz-card>
<ng-template #avatarTemplate>
</ng-template>
<ng-template #actionEdit>
  <a
    nz-button
    [routerLink]="['/', 'admin', 'user', user.id, 'edit']"
    nzType="link"
    ><i nz-icon nzType="edit" nzTheme="fill"></i>
    <span>Chỉnh sửa thông tin</span></a
  >
</ng-template>
<ng-template #listIp>
  <a
    nz-button
    [routerLink]="['/', 'admin', 'user', user.id, 'user-ip']"
    nzType="link"
  >
    <i nz-icon nzType="api" nzTheme="fill"></i>
    <span>Danh sách Ip</span>
  </a>
</ng-template>
<ng-template #UserActivity>
  <a
    nz-button
    [routerLink]="['/', 'admin', 'user', user.id, 'user-activity']"
    nzType="link"
  >
    <i nz-icon nzType="flag" nzTheme="fill"></i>
    <span>Lịch sử đăng nhập</span>
  </a>
</ng-template>
