<nz-card
  [nzActions]="[
    actionEdit,
    listCourse,
    listExamPack,
    listIp,
    listExamResult,
    UserActivity
  ]"
>
  <nz-card-meta
    [nzDescription]="user.email"
    [nzAvatar]="avatarTemplate"
  ></nz-card-meta>
</nz-card>
<ng-template #avatarTemplate>
</ng-template>
<ng-template #actionEdit>
  <a
    nz-button
    [routerLink]="['/', 'admin', 'user', user.id, 'edit']"
    nzType="link"
    ><i nz-icon nzType="edit" nzTheme="fill"></i>
    <span>Chỉnh sửa thông tin</span></a
  >
</ng-template>
<ng-template #listCourse>
  <a
    nz-button
    [routerLink]="['/', 'admin', 'user', user.id, 'course']"
    nzType="link"
  >
    <i nz-icon nzType="play-square" nzTheme="fill"></i>
    <span>Danh sách khóa học</span>
  </a>
</ng-template>
<ng-template #listExamPack>
  <a
    nz-button
    [routerLink]="['/', 'admin', 'user', user.id, 'exam-pack']"
    nzType="link"
  >
    <i nz-icon nzType="file-excel" nzTheme="fill"></i>
    <span>Danh sách gói trắc nhiệm</span>
  </a>
</ng-template>
<ng-template #listIp>
  <a
    nz-button
    [routerLink]="['/', 'admin', 'user', user.id, 'user-ip']"
    nzType="link"
  >
    <i nz-icon nzType="api" nzTheme="fill"></i>
    <span>Danh sách Ip</span>
  </a>
</ng-template>
<ng-template #listExamResult>
  <a
    nz-button
    [routerLink]="['/', 'admin', 'test-session-manager']"
    nzType="link"
  >
    <i nz-icon nzType="profile" nzTheme="fill"></i>
    <span>Danh sách kết quả bài thi</span>
  </a>
</ng-template>
<ng-template #UserActivity>
  <a
    nz-button
    [routerLink]="['/', 'admin', 'user', user.id, 'user-activity']"
    nzType="link"
  >
    <i nz-icon nzType="flag" nzTheme="fill"></i>
    <span>Lịch sử đăng nhập</span>
  </a>
</ng-template>
