@import 'apps/frontend/src/styles/_variables.scss';
@import 'apps/frontend/src/styles/_mixin.scss';
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.answer {
  > div {
    border: solid 1px transparent;
    border-radius: 6px;
    padding: 8px 10px;
    > p {
      float: left;
      padding-right: 5px;
    }
    > div {
      overflow: hidden;
    }
    &.correct {
      border: solid 1px #07f;
      border-radius: 6px;
      padding: 8px 10px;
    }
  }
}

.sub-nav {
  @include media-breakpoint-down(xxl) {
    flex-direction: column-reverse;
  }
  .search {
    justify-content: space-between;
   width: 60%;
    @include media-breakpoint-down(xxl) {
      width: 100%;
      flex-direction: column;
    }
    &__btn {
      button {
        width: 100%;
        @include media-breakpoint-down(xxl) {
          margin: 0;
          width: 305px;
        }
        @include media-breakpoint-down(md) {
          width: 100%;
        }
      }
    }

    &__input {
      width: 100%;
      margin-right: 10px;
    }
  }

  .action {
    button {
      margin-left: 10px;
      @include media-breakpoint-down(md) {
        width: 100%;
      }

      @include media-breakpoint-down(xxl) {
        margin: 0;
        margin-right: 10px;
      }
    }
  }
}

.btn-import {
  background-color: #d8d8d8;
  border: none;
  color: #000000d9;
  font-size: $font-medium;
  font-family: $font-regular;
}
