<div class="edit-user">
  <div class="row">
    <nz-breadcrumb class="mb-3">
      <nz-breadcrumb-item>
        <a [routerLink]="['/', 'admin', 'user']">
          <img src="/assets/images/previous.svg" /> Danh sách người dùng</a
        >
      </nz-breadcrumb-item>
      <nz-breadcrumb-item>Cập nhật người dùng</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="col">
      <h1>Chi tiết người dùng</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <form
        [formGroup]="editUserForm"
        (ngSubmit)="onSubmit()"
        nz-form
        nzLayout="vertical"
      >
        <div class="row">
          <div class="col-12 col-sm-6">
            <ngx-form-anchor #formInputs></ngx-form-anchor>
          </div>
        </div>

        <div class="form-actions">
          <button nz-button nzType="primary" nzSize="large" class="me-2">
            Cập nhật
          </button>
          <a routerLink="/admin/user">
            <button type="button" nzSize="large" nz-button>Huỷ</button>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
