$color-white: #fff;
$bg-footer: #fbfbfb;
$color-primary: #f50032;
$color-desc: #707070;
$color-title: #000826;
$color-orange: #ff8500;
$font-size-large: 18px;
$font-size-medium: 16px;
$font-size-small: 14px;
$font-size-smallest: 12px;

