<div class="component">
  <div class="row mb-3">
    <div class="col">
      <h1 class="title">Danh sách cấu hình</h1>
    </div>
  </div>
  <div class="row">
    <div class="col option">
      <nz-table #basicTable [nzData]="options" nzFrontPagination="false">
        <thead>
          <tr>
            <th class="fw-bold d-none d-xl-table-cell">#</th>
            <th class="fw-bold">Tên</th>
            <th class="fw-bold">Giá trị</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of options; let i = index">
            <td class="d-none d-xl-table-cell">{{ i + 1 }}</td>
            <td class="option__label">{{ item.label }}</td>
            <td class="option__email">
              <p>
                {{ item.value }}
              </p>
            </td>
            <td class="option__edit">
              <div class="text-center">
                <ng-container>
                  <button
                    nz-button
                    nzType="link"
                    [routerLink]="[item.id, 'edit']"
                  >
                    <i nz-icon nzType="form" style="color: #1452d7"></i>
                  </button>
                </ng-container>
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </div>
</div>
