@import 'apps/frontend/src/styles/_mixin.scss';
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';
.course {
  @include e('item') {
    &.deleted {
      p {
        text-decoration: line-through;
      }
    }
  }
}
.nav-sub {
  @include media-breakpoint-down(md) {
    flex-direction: column-reverse;
  }
}

::ng-deep {
  .ant-input-group>.ant-input:first-child,
  .ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-radius: 5px;
  }
}

.search {
  width: 60%;
  justify-content: space-between;
  display: flex;
  @include media-breakpoint-down(md) {
    flex-direction: column;
    width: 100%;
  }
  &__btn {
    @include media-breakpoint-down(md) {
      padding-left: 0;
    }
    padding-left: 15px;
    button {
      width: 100%;
    }
  }
  &__input {
    width: 100%;
  }
}

p {
  margin-bottom: 0;
}
del {
  font-size: 12px;
  color: #b8b8b8;
}
