<div class="review-manager component">
  <div class="row">
    <div class="col">
      <h1 class="title">Danh sách đánh giá</h1>
    </div>
  </div>
  <div class="row mb-4">
    <div class="col">
      <div class="nav-sub d-flex justify-content-between">
        <input
          class="mb-3"
          nz-input
          nzSize="large"
          placeholder="Tìm kiếm đánh giá ..."
          [(ngModel)]="keyword"
        />
        <button
          nz-button
          nzSize="large"
          nzType="primary"
          class="btn-success"
          (click)="search()"
        >
          <i nz-icon nzType="search"></i>
          Tìm
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col reviews">
      <nz-table #basicTable [nzData]="reviews" nzFrontPagination="false">
        <thead>
          <tr>
            <th class="fw-bold">#</th>
            <th class="fw-bold">Sao đánh giá</th>
            <th class="fw-bold">Tên học viên</th>
            <th class="fw-bold">Nội dung đánh giá</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of reviews; let i = index">
            <td>{{ i + 1 }}</td>
            <td>
              <nz-rate [(ngModel)]="item.rateCount" nzDisabled></nz-rate>
            </td>
            <td>{{ item.user }}</td>
            <td [innerHTML]="item.review"></td>
            <td>
              <div class="text-center">
                <ng-container>
                  <button
                    nz-button
                    nzType="link"
                    (click)="openEditReviewModal(item)"
                  >
                    <i nz-icon nzType="form" style="color: #1452d7"></i>
                  </button>
                </ng-container>
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div *ngIf="pagination" class="d-flex justify-content-end">
      <nz-pagination
        [nzPageIndex]="pagination.currentPage"
        [nzPageSize]="pagination.itemsPerPage"
        [nzTotal]="pagination.totalItems"
        (nzPageIndexChange)="gotoPage($event)"
      ></nz-pagination>
    </div>
  </div>
</div>
