<div class="home-page">
  <section class="banner-home">
    <div class="container">
      <div class="row">
        <div class="col-md-9">
          <div class="carousel">
            <div class="carousel__container">
              <nz-carousel
                nzEffect="scrollx"
                nzAutoPlay="true"
                nzAutoPlaySpeed="3000"
              >
                <div nz-carousel-content *ngFor="let item of slides">
                  <div class="slide-item">
                    <div class="slide-item__image">
                      <a href="/">
                        <img [src]="item.image" [alt]="item.alt" />
                      </a>
                    </div>
                  </div>
                </div>
              </nz-carousel>
              <div class="sub-carousel">
                <div class="sub-carousel__view">3,456,765 lượt xem</div>
                <div class="sub-carousel__name">Tokyo Ghost</div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="flex-column">
            <div class="col-md-12">
              <div
                class="sub-slide flex align-items-start flex-column p-3"
                style="background: linear-gradient(273deg, #6366f1, #0ea5e9)"
              >
                <div class="sub-slide__title">Bảng xếp hạng</div>
                <div class="sub-slide__desc">Anime được xem nhiều nhất</div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M15.362 5.214A8.252 8.252 0 0112 21 8.25 8.25 0 016.038 7.048 8.287 8.287 0 009 9.6a8.983 8.983 0 013.361-6.867 8.21 8.21 0 003 2.48z"
                  ></path>
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 18a3.75 3.75 0 00.495-7.467 5.99 5.99 0 00-1.925 3.546 5.974 5.974 0 01-2.133-1A3.75 3.75 0 0012 18z"
                  ></path>
                </svg>
              </div>
            </div>
            <div class="col-md-12 pt-12">
              <div
                class="sub-slide align-items-start flex-column p-3"
                style="background: linear-gradient(273deg, #d946ef, #8b5cf6)"
              >
                <div class="sub-slide__title">Bộ sưu tập</div>
                <div class="sub-slide__desc">Anime theo các chủ đề</div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M2.25 7.125C2.25 6.504 2.754 6 3.375 6h6c.621 0 1.125.504 1.125 1.125v3.75c0 .621-.504 1.125-1.125 1.125h-6a1.125 1.125 0 01-1.125-1.125v-3.75zM14.25 8.625c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v8.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-8.25zM3.75 16.125c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-2.25z"
                  ></path>
                </svg>
              </div>
            </div>
            <div class="col-md-12 pt-12">
              <div
                class="sub-slide align-items-start flex-column p-3"
                style="background: linear-gradient(273deg, #d946ef, #8b5cf6)"
              >
                <div class="sub-slide__title">Bộ sưu tập</div>
                <div class="sub-slide__desc">Anime theo các chủ đề</div>
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M2.25 7.125C2.25 6.504 2.754 6 3.375 6h6c.621 0 1.125.504 1.125 1.125v3.75c0 .621-.504 1.125-1.125 1.125h-6a1.125 1.125 0 01-1.125-1.125v-3.75zM14.25 8.625c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v8.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-8.25zM3.75 16.125c0-.621.504-1.125 1.125-1.125h5.25c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125h-5.25a1.125 1.125 0 01-1.125-1.125v-2.25z"
                  ></path>
                </svg>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="latest-episode section-py">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="heading">Tập mới nhất</div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="content">
          <div class="row">
            <div class="col-md-3" *ngFor="let item of array">
              <app-film-item></app-film-item>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="collection section-py">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="heading">Bộ sưu tập</div>
        </div>
      </div>
    </div>
  </section>
</div>
