@import 'apps/frontend/src/styles/_variables.scss';
@import 'apps/frontend/src/styles/_mixin.scss';
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.home-page {
  .section-py {
    padding-top: 40px;
  }

  .heading {
    text-transform: uppercase;
    font-size: 25px;
    color: #b91c1c;
    margin-bottom: 10px;
  }

  .pt-12 {
    padding-top: 12px;
  }

  ::ng-deep .ant-carousel {
    .slick-dots {
      li.slick-active {
        width: 16px;
        button {
          background-color: #ccc;
        }
      }
      li {
        margin: 0;
        button {
          width: 12px;
          height: 3px;
          border-radius: 5px;
        }
      }
    }

    .slick-dots-bottom {
      bottom: -5px;
    }
  }

  .banner-home {
    padding-top: 80px;
    .carousel {
      position: relative;
      padding-top: calc(27% + 24px);
      &__container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      .slide-item {
        position: relative;
        height: 100%;
        &__image {
          height: 100%;
          img {
            height: 100%;
          }
        }
      }

      .sub-carousel {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 16px;
        background-image: linear-gradient(to bottom, transparent, #000000bf);
        &__view {
          color: $white;
          font-size: 12px;
        }

        &__name {
          width: 40%;
          color: $white;
          font-size: 18px;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }

    .sub-slide {
      position: relative;
      height: 88px;
      &__title {
        color: $white;
        font-size: 18px;
        text-transform: capitalize;
        text-shadow: 0.6px 0 0 $white;
      }

      &__desc {
        color: $white;
        font-size: 13px;
        text-transform: capitalize;
        font-weight: 100;
        margin-top: 5px;
      }

      svg {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 50px;
        color: rgb(255 255 255/0.25);
      }
    }
  }
}
