<div class="result">
  <h2>Kết quả bài thi</h2>
  <div class="search d-flex">
    <div class="search__input">
      <div class="row">
        <ngx-form-anchor #searchFormInputs></ngx-form-anchor>
      </div>
    </div>
    <div class="search__btn">
      <button nz-button nzType="primary" class="btn-success" nzSize="large" (click)="search()">
        <i nz-icon nzType="search" nzTheme="outline"></i>Tìm
      </button>
    </div>
  </div>
  <div class="mt-3">
    <nz-table #basicTable [nzData]="testSessions" nzFrontPagination="false">
      <thead>
        <tr>
          <th class="fw-bold">Học viên</th>
          <th class="fw-bold">Đề thi</th>
          <th class="fw-bold text-center d-none d-xl-table-cell">Điểm thi</th>
          <th class="fw-bold text-center d-none d-xl-table-cell">Ngày thi</th>
          <th class="fw-bold text-center d-none d-xl-table-cell">
            Thời gian thi
          </th>
          <th class="fw-bold text-center">Chi tiết</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of testSessions">
          <td>
            <p class="p-0">{{ item.user.getFullName() }}</p>
            <p class="p-0">{{ item.user.email }}</p>
          </td>
          <td>{{ item.examCode.exam.name }}</td>
          <td class="d-none d-xl-table-cell">
            <p class="testScore d-flex align-items-center justify-content-center m-0" [ngClass]="
                item.isPass()
                  ? { success: true, fail: false }
                  : { success: false, fail: true }
              ">
              {{ item.correctQuestion }}/{{
              item.correctQuestion +
              item.inCorrectQuestion +
              item.skipQuestion
              }}
            </p>
          </td>
          <td class="text-center d-none d-xl-table-cell">
            {{ item.createdAt | date: 'dd/MM/yyyy' }}
          </td>
          <td class="text-center d-none d-xl-table-cell">
            {{ getExamTime(item) }} phút
          </td>
          <td class="text-center">
            <div class="d-flex justify-content-center">
              <button nz-button nzType="dashed" [routerLink]="[item.id]" nz-button nzType="dashed" nzSize="small"
                target="_blank">
                <i nz-icon nzType="eye" nzTheme="outline"></i>
                Xem
              </button>
            </div>
          </td>
          <td>
            <button nz-button nzType="link" (click)="remove(item)">
              <i nz-icon nzType="delete"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <ng-container *ngIf="pagination">
    <div class="d-flex justify-content-end">
      <nz-pagination [nzPageIndex]="pagination.currentPage" [nzPageSize]="pagination.itemsPerPage"
        [nzTotal]="pagination.totalItems" (nzPageIndexChange)="gotoPage($event)"></nz-pagination>
    </div>
  </ng-container>
</div>