@import 'apps/frontend/src/styles/_variables';
@import '~bootstrap/scss/mixins/breakpoints';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

.component {
  ::ng-deep {
    nz-input-group {
      background-color: $backgroundFooterColor;
      border: 1px solid #d8d8d8;
      border-radius: 20px;
      padding: 6.5px 20px;
      input {
        background-color: $backgroundFooterColor;
      }
    }
    .anticon svg {
      color: $lightColor;
    }
    .ant-form-item {
      margin-bottom: 5px;
    }
  }

  button {
    margin-top: 20px;
    background-color: $color-button;
    color: $white;
    font-family: $font-bold;
    border-radius: 6px;
    text-transform: uppercase;
    border: none;
    font-size: $font-medium;
    height: 44px;
  }
}

@include media-breakpoint-down(md) {
  .component {
    margin-top: 24px;
    .heading-text {
      text-align: center;
      font-size: $responTitleSize;
    }
  }
}
