@import 'apps/frontend/src/styles/_variables.scss';
@import 'apps/frontend/src/styles/_mixin.scss';
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.test-session {
  .btn {
    @include m('info') {
      margin: 40px auto;
      padding: 8px 60px;
      border-radius: 6px;
      border: 1px solid $backgroundMenuActive;
      color: $backgroundMenuActive;
      font-family: $font-semiBold;
      font-size: $font-medium;
      background-color: $white;
      &:hover {
        transition-duration: 0.1s;
        background-color: $backgroundMenuActive;
        color: $white;
      }
    }
  }
}
