@import 'apps/frontend/src/styles/_variables';
@import '~bootstrap/scss/mixins/breakpoints';

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

.wrapper {
  .main-content {
    padding-bottom: 40px;
    .registered-test {
      .heading-text {
        font-family: $font-bold;
        font-size: 24px;
        color: $color-title;
        text-transform: uppercase;
        margin-bottom: 28px;
        border-bottom: 2px solid $lightColor;
      }
    }
  }
}

/* Responsive */

@include media-breakpoint-down(md) {
  .registered-test {
    margin-top: 40px;
    .heading-text {
      font-size: $font-small;
      text-align: center;
      line-height: 1.25;
    }
  }
}

@include media-breakpoint-between(md, xxl) {
  .registered-test {
    .heading-text {
      font-size: 20px;
    }
  }
}
