.exam-pack {
  &__item {
    border-radius: 4px;
    border: 1px solid #f5f5f5;
    &__header {
      h3 {
        font-size: 18px;
        color: #0c213a;
        overflow: hidden;
      }
      &__action {
        float: right;
      }
    }
  }
}
