<div class="component">
  <nz-breadcrumb class="mb-3">
    <nz-breadcrumb-item>
      <a [routerLink]="['/', 'admin', 'user']">
        <img src="/assets/images/previous.svg" /> Danh sách học viên</a
      >
    </nz-breadcrumb-item>
    <nz-breadcrumb-item>Đổi mật khẩu</nz-breadcrumb-item>
  </nz-breadcrumb>
  <div class="row">
    <div class="col">
      <h1>Đổi mật khẩu</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <form
        [formGroup]="changePasswordForm"
        (ngSubmit)="onSubmit()"
        nz-form
        nzLayout="vertical"
      >
        <ngx-form-anchor #formInputs></ngx-form-anchor>

        <div class="form-actions">
          <button
            nz-button
            nzSize="large"
            nzType="primary"
            class="col-12 col-sm-12 col-md-7 col-lg-6 col-xl-5 col-xxl-5"
          >
            Đổi mật khẩu
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
