<div class="detail">
  <div class="container" style="margin-top: 80px">
    <div class="player">
      <div class="row">
        <div class="col-md-9">
          <div
            style="position: relative; padding-top: 56.25%"
            style="border: 1px solid #e5e7eb"
          >
            <app-film [film]=""></app-film>
          </div>
        </div>
        <div class="col-md-3">
          <div class="list-episode">
            <div class="title flex">
              <span>Danh sách tập</span>
              <span>Bình luận</span>
            </div>
            <div class="total-episode flex">
              <div class="total-episode__list">Tổng số: 4 video</div>
              <div class="total-episode__search flex">
                <span>Tập</span>
                <input type="text" />
                <span class="btn-play">1
                  <!-- <span nz-icon nzType="play-circle" nzTheme="outline"></span> -->
                </span>
              </div>
            </div>
            <div class="list">
              <div class="list__item mt-3">
                <div class="list__item--image">
                  <img src="/assets/images/a99313b9ae9fbf19_947797471bbc0587_28081155460321039674.jpg" alt="" />
                  <span class="episode">1</span>
                </div>
                <div class="list__item--info">
                  <div class="name"> Tập 1 - Thảm khốc</div>
                  <div class="view">12,123 lượt xem</div>
                </div>
              </div>

              <div class="list__item mt-3">
                <div class="list__item--image">
                  <img src="/assets/images/a99313b9ae9fbf19_947797471bbc0587_28081155460321039674.jpg" alt="" />
                  <span class="episode">1</span>
                </div>
                <div class="list__item--info">
                  <div class="name"> Tập 1 - Thảm khốc</div>
                  <div class="view">12,123 lượt xem</div>
                </div>
              </div>
              <div class="list__item mt-3">
                <div class="list__item--image">
                  <img src="/assets/images/a99313b9ae9fbf19_947797471bbc0587_28081155460321039674.jpg" alt="" />
                  <span class="episode">1</span>
                </div>
                <div class="list__item--info">
                  <div class="name"> Tập 1 - Thảm khốc</div>
                  <div class="view">12,123 lượt xem</div>
                </div>
              </div>
              <div class="list__item mt-3">
                <div class="list__item--image">
                  <img src="/assets/images/a99313b9ae9fbf19_947797471bbc0587_28081155460321039674.jpg" alt="" />
                  <span class="episode">1</span>
                </div>
                <div class="list__item--info">
                  <div class="name"> Tập 1 - Thảm khốc</div>
                  <div class="view">12,123 lượt xem</div>
                </div>
              </div>
              <div class="list__item mt-3">
                <div class="list__item--image">
                  <img src="/assets/images/a99313b9ae9fbf19_947797471bbc0587_28081155460321039674.jpg" alt="" />
                  <span class="episode">1</span>
                </div>
                <div class="list__item--info">
                  <div class="name"> Tập 1 - Thảm khốc</div>
                  <div class="view">12,123 lượt xem</div>
                </div>
              </div>
              <div class="list__item mt-3">
                <div class="list__item--image">
                  <img src="/assets/images/a99313b9ae9fbf19_947797471bbc0587_28081155460321039674.jpg" alt="" />
                  <span class="episode">1</span>
                </div>
                <div class="list__item--info">
                  <div class="name"> Tập 1 - Thảm khốc</div>
                  <div class="view">12,123 lượt xem</div>
                </div>
              </div>
              <div class="list__item mt-3">
                <div class="list__item--image">
                  <img src="/assets/images/a99313b9ae9fbf19_947797471bbc0587_28081155460321039674.jpg" alt="" />
                  <span class="episode">1</span>
                </div>
                <div class="list__item--info">
                  <div class="name"> Tập 1 - Thảm khốc</div>
                  <div class="view">12,123 lượt xem</div>
                </div>
              </div>
              <div class="list__item mt-3">
                <div class="list__item--image">
                  <img src="/assets/images/a99313b9ae9fbf19_947797471bbc0587_28081155460321039674.jpg" alt="" />
                  <span class="episode">1</span>
                </div>
                <div class="list__item--info">
                  <div class="name"> Tập 1 - Thảm khốc</div>
                  <div class="view">12,123 lượt xem</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
