@import 'apps/frontend/src/styles/_variables.scss';
@import 'apps/frontend/src/styles/_mixin.scss';
@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.film-item {
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 12px;
  
  .hover {
    background: linear-gradient(to bottom, transparent, #55889b);
  }

  .hoverImage {
    transform: scale(1.1) !important;
  }
 
  &__link {
    position: relative;
    a {
      img {
        height: 180px;
        transform: scale(1);
        transition-duration: 0.3s;
      }
    }
    &--desc {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 12px;
      background-image: linear-gradient(to bottom, transparent, #000000bf);
      .name {
        color: $white;
        font-size: 16px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }

      .info {
        .episode {
          color: $white;
          font-size: 12px;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
          width: 50%;
        }

        .view {
          color: $white;
          font-size: 12px;
        }
      }
    }
  }
  &__status {
    span {
      position: absolute;
      top: 12px;
      left: 12px;
      text-transform: uppercase;
      color: $white;
      font-size: 14px;
      padding: 4px 12px;
      border-radius: 15px;

      &.success {
        background-color: #166534bf;
      }
  
      &.coming-soon {
        background-color: rgb(220 38 38/0.5);
      }
    }
  }
}
