@import '~bootstrap/scss/_functions';
@import '~bootstrap/scss/_variables';
@import '~bootstrap/scss/mixins/_breakpoints';

.slide {
  &__image {
    ::ng-deep {
      .ant-avatar {
        width: 200px;
        height: 100px;
      }
    }
  }
}

.btn-add {
  button {
    @include media-breakpoint-down(sm) {
      width: 100%;
      justify-content: center;
    }
  }
}
