<div class="lesson component">
  <div class="row">
    <div class="col">
      <h1 class="title">Danh sách bài giảng</h1>
    </div>
  </div>
  <div class="nav-sub d-flex justify-content-between mb-3">
    <div class="search">
      <div class="search__input">
        <div class="row">
          <ngx-form-anchor #searchFormInputs></ngx-form-anchor>
        </div>
      </div>
      <div class="search__btn">
        <button nz-button nzType="primary" class="btn-success" nzSize="large" (click)="search()">
          <i nz-icon nzType="search" nzTheme="outline"></i>Tìm
        </button>
      </div>
    </div>
    <button nz-button nzType="primary" nzSize="large" [routerLink]="['/', 'admin', 'lesson', 'create']"
      class="nav-sub-btn mb-3">
      <i nz-icon nzType="plus"></i>
      Thêm bài giảng
    </button>
  </div>
  <div class="row">
    <div class="col">
      <nz-table #basicTable [nzData]="lessons" nzFrontPagination="false" class="mb-2">
        <thead>
          <tr>
            <th class="fw-bold">Tên bài giảng</th>
            <th class="fw-bold text-center">Vào học</th>
            <th class="fw-bold d-none d-xl-table-cell">Danh mục</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of lessons; let i = index" class="lesson__item" [ngClass]="{
              deleted: item.deletedAt !== null && item.deletedAt !== undefined
            }">
            <td class="lesson__item__name">{{ item.name }}</td>
            <td class="btn-watch text-center">
              <button nz-button nzType="dashed" nzSize="small" (click)="openPreviewModal(item)">
                <i nz-icon nzType="play-square" nzTheme="outline" class="play-icon"></i>
                Xem
              </button>
            </td>
            <td class="lesson__item__categoryId d-none d-xl-table-cell">
              {{ item.category.name }}
            </td>
            <td>
              <div class="text-center">
                <ng-container *ngIf="
                    !(item.deletedAt !== null && item.deletedAt !== undefined)
                  ">
                  <button nz-button nzType="link">
                    <a [routerLink]="[item.id, 'edit']"><i nz-icon nzType="form" style="color: #1452d7"></i></a>
                  </button>
                  <button nz-button nzType="link" (click)="deleteItem(item)">
                    <i nz-icon nzType="delete" style="color: #cf002a"></i>
                  </button>
                </ng-container>
              </div>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <ng-container *ngIf="pagination">
        <div class="d-flex justify-content-end">
          <nz-pagination [nzPageIndex]="pagination.currentPage" [nzPageSize]="pagination.itemsPerPage"
            [nzTotal]="pagination.totalItems" (nzPageIndexChange)="gotoPage($event)"></nz-pagination>
        </div>
      </ng-container>
    </div>
  </div>
</div>