@import 'apps/frontend/src/styles/_variables';

.component {
  ::ng-deep {
    nz-input-group {
      background-color: $backgroundFooterColor;
      border: 1px solid #d8d8d8;
      border-radius: 20px;
      padding: 6.5px 20px;
      input {
        background-color: $backgroundFooterColor;
      }
    }
    .anticon svg {
      color: $lightColor;
    }

    nz-form-item {
      margin-bottom: 10px;
    }
  }

  button {
    background-color: $color-button;
    color: $white;
    font-family: $font-bold;
    border-radius: 6px;
    text-transform: uppercase;
    border: none;
    font-size: $font-medium;
    height: 44px;
    margin-top: 20px;
  }
}
