<ng-container *ngIf="examPack">
  <div class="fluid-container">
    <div class="page-header">
      <nz-breadcrumb
        nzSeparator=">>"
        activeClass=""
        class="page-header__breadcrumb"
      >
        <nz-breadcrumb-item>
          <a href="">TRANG CHỦ</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          <a>PHÒNG TRẮC NGHIỆM ONLINE</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item>
          {{ examPack.name }}
        </nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="row m-0">
        <div class="col-md-8 page-header__content">
          <h1 class="page-header__content__title mb-4">
            {{ examPack.name }}
          </h1>
          <div
            class="page-header__content__subtitle d-flex flex-column flex-lg-row"
          >
            <div class="page-header__content__subtitle__content d-flex">
              <p class="small-content">Đề thi:</p>
              <p class="small-content whiteFont ms-2">
                {{ examPack.getExamCount() }} đề thi
              </p>
            </div>
            <div class="page-header__content__subtitle__content d-flex">
              <p class="small-content">Giảng viên:</p>
              <p class="small-content whiteFont ms-2">
                {{ examPack.lecturer }}
              </p>
            </div>
            <div class="page-header__content__subtitle__content d-flex">
              <p class="small-content d-flex">Đánh giá:</p>
              <p class="small-content d-flex ms-2">
                <nz-rate
                  [ngModel]="examPack.rateAverage"
                  class="small-content__rate"
                  nzDisabled
                ></nz-rate>
                <i class="small-content__comment ms-2"
                  >({{ examPack.rateCount }} Đánh giá)</i
                >
              </p>
            </div>
          </div>
        </div>
        <div
          class="col-md-4 page-header__button d-flex flex-column justify-content-end"
        >
          <div
            class="page-header__button__cost d-flex text-start align-items-center mb-3"
            *ngIf="examPack.price > 0"
          >
            <h3 class="page-header__button__cost__o-price mb-0">
              {{ examPack.getOriginalPriceText() }}
            </h3>
            <h3 class="page-header__button__cost__price mb-0 text-end">
              {{ examPack.getPriceText() }}
            </h3>
            <span class="text-center">-18%</span>
          </div>
          <h3 *ngIf="examPack.price === 0">Miễn Phí</h3>
          <span class="mb-4"></span>
          <ng-container
            *ngIf="!(profile && isBoughtExamPack); else enterExamPackBtn"
          >
            <button
              nz-button
              nzType="primary"
              nzDanger
              *ngIf="examPack.isFree"
              (click)="buyFreeExamPack()"
            >
              THÊM GÓI TRẮC NGHIỆM
            </button>
            <app-contact-form
              *ngIf="examPack.price > 0"
              btnText="MUA GÓI TRẮC NGHIỆM"
              [type]="1"
              [content]="examPack.name"
            ></app-contact-form>
          </ng-container>
          <ng-template #enterExamPackBtn>
            <button
              nz-button
              nzType="primary"
              nzDanger
              [routerLink]="['/', 'de-thi', examPackId, 'view']"
            >
              Luyện thi thử
            </button>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="content pt-5">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-8">
            <nz-anchor [nzAffix]="false" [nzOffsetTop]="100">
              <div class="content__header-navigation row">
                <div class="col-12 col-md-3">
                  <nz-link
                    nzHref="#exams"
                    nzTitle="NỘI DUNG BÀI GIẢNG"
                    nz-button
                    nzType="default"
                    class="w-100 text-center"
                  ></nz-link>
                </div>
                <div class="col-12 col-md-3">
                  <nz-link
                    nzHref="#schedule"
                    nzTitle="LỘ TRÌNH LUYỆN THI"
                    nz-button
                    nzType="default"
                    class="w-100 text-center"
                  >
                  </nz-link>
                </div>
                <div class="col-12 col-md-3">
                  <nz-link
                    nzHref="#introduce"
                    nzTitle="VIDEO GIỚI THIỆU"
                    nz-button
                    nzType="default"
                    class="w-100 text-center"
                  >
                  </nz-link>
                </div>
                <div class="col-12 col-md-3">
                  <nz-link
                    nzHref="#voting"
                    nzTitle="HỌC VIÊN ĐÁNH GIÁ"
                    nz-button
                    class="w-100 text-center"
                    nzType="default"
                  >
                  </nz-link>
                </div>
              </div>
            </nz-anchor>

            <div
              class="content__exams d-flex flex-column justify-content-between"
              id="exams"
            >
              <h3>DANH SÁCH ĐỀ THI TRẮC NGHIỆM</h3>
              <div
                class="exam d-flex align-items-center justify-content-between mb-3"
                *ngFor="let exam of examPack.exams"
              >
                <div class="exam__content">
                  <span class="exam__title">{{ exam.name }}</span>
                  <p
                    class="exam__timeLeft m-0"
                    *ngIf="getRemainingTime(exam.id) !== null"
                  >
                    Số lần làm bài còn lại: {{ getRemainingTime(exam.id) }}
                  </p>
                  <p
                    class="exam__timeLeft m-0"
                    *ngIf="getRemainingTime(exam.id) === 0"
                  >
                    Đã hết số lần làm bài
                  </p>
                </div>
                <ng-container
                  *ngIf="
                    !(profile && isBoughtExamPack && exam.retry > 0);
                    else doTestBtn
                  "
                >
                  <i nz-icon nzType="lock" nzTheme="outline"></i>
                </ng-container>
                <ng-template #doTestBtn>
                  <button
                    nz-button
                    nzType="primary"
                    (click)="createTestSession(exam)"
                    [disabled]="getRemainingTime(exam.id) === 0"
                  >
                    Vào thi
                  </button>
                </ng-template>
              </div>
            </div>
            <div
              class="content__description mb-4"
              id="description"
              *ngIf="course"
            >
              <p>
                {{ course.description }}
              </p>

              <div class="d-flex justify-content-center align-items-center">
                <app-contact-form
                  btnText="Tìm hiểu ngay"
                  [type]="2"
                  [content]="examPack.name"
                ></app-contact-form>
              </div>
            </div>

            <div class="content__introduce" id="introduce">
              <h3>GIỚI THIỆU GÓI TRẮC NGHIỆM</h3>
              <youtube-player [videoId]="examPack.video"></youtube-player>
            </div>
            <div class="content__voting" id="voting">
              <h3>
                ĐÁNH GIÁ CỦA HỌC VIÊN THAM GIA LỚP ÔN THI CÔNG CHỨC THUẾ CỦA
                THẦY TÀI TÂN TIẾN!
              </h3>
              <div class="user mb-4 p-4" *ngFor="let review of reviews">
                <div class="user__img">
                  <nz-avatar
                    [nzSize]="40"
                    [nzSrc]="review.image"
                    nzIcon="user"
                  ></nz-avatar>
                </div>
                <div class="user__comment ms-2">
                  <nz-rate
                    nzCount="5"
                    [ngModel]="review.rateCount"
                    nzDisabled="true"
                  ></nz-rate>
                  <h5>{{ review.user }}</h5>
                  <p [innerHTML]="review.review"></p>
                </div>
              </div>
              <div class="d-flex justify-content-center align-items-center">
                <button class="btn-review" (click)="loadMoreReview()">
                  Xem thêm
                </button>
              </div>
            </div>
          </div>
          <!------------------NavBar---------------->
          <div class="col-md-4 sidebar">
            <h3>KHOÁ HỌC NỔI BẬT</h3>
            <div class="mb-3" *ngFor="let item of highlightCourses">
              <a [routerLink]="['/', 'khoa-hoc', item.id]">
                <app-course-item [item]="item"></app-course-item>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="related-pack">
      <div class="row m-0">
        <h3 class="text-center related-pack__title text-uppercase">
          Danh sách gói trắc nghiệm liên quan
        </h3>
        <div class="d-flex justify-content-center">
          <p class="text-center related-pack__desc pb-4">
            Hệ thống cung cấp các khóa ôn thi Công chức, Viên chức. Với bề dày
            kinh nghiệm và thành tích đã đạt được. Chúng tôi sẽ mang đến khóa
            học chất lượng hàng đầu Việt Nam.
          </p>
        </div>
        <div class="row">
          <div
            class="col-12 col-sm-6 col-md-3 mb-3"
            *ngFor="let item of relatedExamPackGroup[0]"
          >
            <a [routerLink]="['/', 'de-thi', item.id]">
              <app-exam-pack-item [item]="item"></app-exam-pack-item>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
